<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic</h4>
            <p>Basic Usage</p>
            <div class="m-t-25">
                <nz-select style="width: 120px;" class="m-r-10" [(ngModel)]="selectBasicSelectedValue" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                </nz-select>
                <nz-select style="width: 120px;" [ngModel]="'lucy'" nzDisabled>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectBasicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Select with search field</h4>
            <p>Search the options while expanded.</p>
            <div class="m-t-25">
                <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectSearchFieldValue">
                    <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                    <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                    <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectSeachFieldCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Sizes</h4>
            <p>Input field sizes.</p>
            <div class="m-t-25">
                <nz-radio-group [(ngModel)]="selectSize">
                    <label nz-radio-button nzValue="large"><span>Large</span></label>
                    <label nz-radio-button nzValue="default"><span>Default</span></label>
                    <label nz-radio-button nzValue="small"><span>Small</span></label>
                </nz-radio-group>
                <br><br>
                <nz-select style="width: 200px;" [(ngModel)]="selectSizeSingleValue" [nzSize]="selectSize">
                    <nz-option *ngFor="let option of selectSizeListOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                </nz-select>
                <br><br>
                <nz-select style="width: 200px;" [(ngModel)]="selectSizeSingleValue" [nzSize]="selectSize" nzShowSearch>
                    <nz-option *ngFor="let option of selectSizeListOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                </nz-select>
                <br><br>
                <nz-select style="width: 100%" [(ngModel)]="selectSizeMultipleValue" [nzSize]="selectSize" nzMode="multiple" nzPlaceHolder="Please select">
                    <nz-option *ngFor="let option of selectSizeListOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                </nz-select>
                <br><br>
                <nz-select style="width: 100%" [(ngModel)]="selectSizeTagValue" [nzSize]="selectSize" nzMode="tags" nzPlaceHolder="Please select">
                    <nz-option *ngFor="let option of selectSizeListOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectSizeCode"></codebox>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Tags</h4>
            <p>Select with tags, transform input to tag (scroll the menu)</p>
            <div class="m-t-25">
                <nz-select nzMode="tags" class="w-100" nzPlaceHolder="Tag Mode" [(ngModel)]="selectTagListOfTagOptions">
                    <nz-option *ngFor="let option of selectTagListOfOption" [nzLabel]="option.label" [nzValue]="option.value">
                    </nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectTagCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Multiple Selection</h4>
            <p>Multiple selection, selecting from existing items, you can max selected 3 option at the same time.</p>
            <div class="m-t-25">
                <nz-select [nzMaxMultipleCount]="3" class="w-100" nzMode="multiple" nzPlaceHolder="Please select" [(ngModel)]="selectMultipleListOfSelectedValue">
                    <nz-option *ngFor="let option of selectMultipleListOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectMultipleCode"></codebox>
        </nz-card>
    </div>
</div>      
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Coordinate</h4>
            <p>Coordinating the selection of provinces and cities is a common use case and demonstrates how selection can be coordinated.</p>
            <p>Using the <a routerLink="/components/data-entry/cascader">Cascader</a> component is strongly recommended instead as it is more flexible and capable.</p>
            <div class="m-t-25">
                <div class="m-v-35">
                    <nz-select style="width: 120px;" class="m-r-10" [(ngModel)]="selectedProvince" (ngModelChange)="provinceChange($event)">
                        <nz-option *ngFor="let p of provinceData" [nzValue]="p" [nzLabel]="p"></nz-option>
                    </nz-select>
                    <nz-select style="width: 120px;" [(ngModel)]="selectedCity">
                        <nz-option *ngFor="let c of cityData[selectedProvince]" [nzValue]="c" [nzLabel]="c"></nz-option>
                    </nz-select>
                </div>
            </div>
            <codebox [codeContent]="selectCoordinateCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Get option object of selected item</h4>
            <p>The value of <code>ngModel</code> comes from the <code>nzValue</code> of <code>nz-option</code>, when the <code>nzValue</code> of <code>nz-option</code> is an object, the <code>ngModel</code> will be an object too, the usage of <code>compareWith</code> is the same as <a href="https://angular.io/api/forms/SelectControlValueAccessor#caveat-option-selection">SelectControlValueAccessor</a>.</p>
            <div class="m-t-25">
                <p>The selected option's age is {{selectOptionSelectedValue?.age}}</p>
                <nz-select style="width: 120px;" [compareWith]="compareFn" [(ngModel)]="selectOptionSelectedValue" (ngModelChange)="selectOptionLog($event)" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option *ngFor="let option of selectOptionList" [nzValue]="option" [nzLabel]="option.label"></nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectOptionCode"></codebox>
        </nz-card>
    </div>
</div>      
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Option Group</h4>
            <p>Using <code>nz-option-group</code> to group the options.</p>
            <div class="m-t-25">
                <nz-select style="width: 120px;" [(ngModel)]="selectOptionGroupSelectedValue" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option-group nzLabel="Manager">
                        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                    </nz-option-group>
                    <nz-option-group nzLabel="Engineer">
                        <nz-option nzValue="Tom" nzLabel="tom"></nz-option>
                    </nz-option-group>
                </nz-select>
            </div>
            <codebox [codeContent]="selectOptionGroupCode"></codebox>
        </nz-card>
    </div>  
    <div class="col-md-6">
        <nz-card>
            <h4>Custom Option Template</h4>
            <p>Custom the content of nz-option via <code>nzCustomContent</code>.</p>
            <div class="m-t-25">
                <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="Select OS" [(ngModel)]="selectCustomSelectedOS">
                    <nz-option nzCustomContent nzLabel="Windows" nzValue="windows"><i nz-icon nzType="windows"></i> Windows</nz-option>
                    <nz-option nzCustomContent nzLabel="Mac" nzValue="mac"><i nz-icon nzType="apple"></i>  Mac</nz-option>
                    <nz-option nzCustomContent nzLabel="Android" nzValue="android"><i nz-icon nzType="android"></i> Android</nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectCustomCode"></codebox>
        </nz-card>
    </div>    
</div>    
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Search and Select Users</h4>
            <p>A complete multiple select sample with remote search, debounce fetch, ajax callback order flow, and loading state.</p>
            <div class="m-t-25">
                <nz-select class="w-100" nzMode="multiple" [(ngModel)]="selectedUser" nzPlaceHolder="Select users" nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="selectUserOnSearch($event)">
                    <ng-container *ngFor="let o of selectedSearchUserOptionList">
                        <nz-option *ngIf="!selectSearchUserIsLoading" [nzValue]="o" [nzLabel]="o"></nz-option>
                    </ng-container>
                    <nz-option *ngIf="selectSearchUserIsLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon text-primary m-r-10"></i> Loading Data...
                    </nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectSearchUserCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Custom dropdown</h4>
            <p>Customize the dropdown menu via <code>nzDropdownRender</code>.</p>
            <div class="m-t-25">
                <nz-select style="width: 120px;" nzShowSearch nzAllowClear [ngModel]="'lucy'" [nzDropdownRender]="render">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                </nz-select>
                <ng-template #render>
                    <nz-divider class="m-v-5"></nz-divider>
                    <div class="p-10 pointer"><i nz-icon nzType="plus"></i> Add item</div>
                </ng-template>
            </div>
            <codebox [codeContent]="selectCustomDropdown"></codebox>
        </nz-card>
    </div>
</div>     
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Hide Already Selected</h4>
            <p>Hide already selected options in the dropdown.</p>
            <div class="m-t-25">
                <nz-select
                    class="w-100"
                    nzMode="multiple"
                    nzPlaceHolder="Inserted are removed"
                    [(ngModel)]="listOfSelectedValue"
                >
                    <ng-container *ngFor="let option of listOfOption">
                        <nz-option [nzLabel]="option" [nzValue]="option" *ngIf="isNotSelected(option)"></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <codebox [codeContent]="selectHideAlreadySelected"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Load Data on Scroll</h4>
            <p>Load data on scroll.</p>
            <div class="m-t-25">
                <nz-select style="width: 100%;" [(ngModel)]="selectLoadDataSelectedUser" (nzScrollToBottom)="loadMore()" nzPlaceHolder="Select users" nzAllowClear>
                    <nz-option *ngFor="let o of selectDataLoadOptionList" [nzValue]="o" [nzLabel]="o"></nz-option>
                    <nz-option *ngIf="selectLoadDataIsLoading" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon text-primary m-r-10"></i> Loading Data...
                    </nz-option>
                </nz-select>
            </div>
            <codebox [codeContent]="selectLoadDataCode"></codebox>
        </nz-card>
    </div>
</div>
<nz-card nzTitle="API">
    <pre><code highlight [textContent]="selectAPICode"></code></pre>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-select</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[ngModel]</code></td>
                    <td>Current selected nz-option value, double binding.</td>
                    <td><code>any | any[]</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[compareWith]</code></td>
                    <td>Same as <a href="https://angular.io/api/forms/SelectControlValueAccessor#caveat-option-selection">SelectControlValueAccessor</a></td>
                    <td><code>(o1: any, o2: any) =&gt; boolean</code></td>
                    <td><code>(o1: any, o2: any) =&gt; o1===o2</code></td>
                </tr>
                <tr>
                    <td><code>[nzAutoClearSearchValue]</code></td>
                    <td>Whether the current search will be cleared on selecting an item. Only applies when <code>mode</code> is set to <code>multiple</code> or <code>tags</code>.</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzAllowClear]</code></td>
                    <td>Show clear button.</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzOpen]</code></td>
                    <td>dropdown expand state, double binding</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzAutoFocus]</code></td>
                    <td>Get focus by default</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>Whether disabled select</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzDropdownClassName]</code></td>
                    <td>className of dropdown menu</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzDropdownMatchSelectWidth]</code></td>
                    <td>Whether dropdown's with is same with select.</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzDropdownStyle]</code></td>
                    <td>style of dropdown menu</td>
                    <td><code>object</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzCustomTemplate]</code></td>
                    <td>The custom template of select</td>
                    <td><code>TemplateRef&lt;{{ '{' }} $implicit: NzOptionComponent {{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzServerSearch]</code></td>
                    <td>nz-option will not be filtered when set to true</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzFilterOption]</code></td>
                    <td>Filter options against it. The function will receive two arguments, <code>inputValue</code> and <code>option</code>, if the function returns <code>true</code>, the option will be included in the filtered set; Otherwise, it will be excluded.</td>
                    <td><code>(input?: string, option?: NzOptionComponent) =&gt; boolean;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzMaxMultipleCount]</code></td>
                    <td>Max selected option can be selected</td>
                    <td><code>number</code></td>
                    <td><code>Infinity</code></td>
                </tr>
                <tr>
                    <td><code>[nzMode]</code></td>
                    <td>Set mode of Select</td>
                    <td><code>'multiple' | 'tags' | 'default'</code></td>
                    <td><code>'default'</code></td>
                </tr>
                <tr>
                    <td><code>[nzNotFoundContent]</code></td>
                    <td>Specify content to show when no result matches..</td>
                    <td><code>string | TemplateRef&lt;void&gt;</code></td>
                    <td><code>'Not Found'</code></td>
                </tr>
                <tr>
                    <td><code>[nzPlaceHolder]</code></td>
                    <td>Placeholder of select</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzShowArrow]</code></td>
                    <td>Whether to show the drop-down arrow</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzShowSearch]</code></td>
                    <td>Whether show search input in single mode.</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>Size of Select input</td>
                    <td><code>'large' | 'small' | 'default'</code></td>
                    <td><code>'default'</code></td>
                </tr>
                <tr>
                    <td><code>[nzSuffixIcon]</code></td>
                    <td>The custom suffix icon</td>
                    <td><code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzRemoveIcon]</code></td>
                    <td>The custom remove icon</td>
                    <td><code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzClearIcon]</code></td>
                    <td>The custom clear icon</td>
                    <td><code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzMenuItemSelectedIcon]</code></td>
                    <td>The custom menuItemSelected icon</td>
                    <td><code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzTokenSeparators]</code></td>
                    <td>Separator used to tokenize on tag/multiple mode</td>
                    <td><code>string[]</code></td>
                    <td><code>[]</code></td>
                </tr>
                <tr>
                    <td><code>[nzLoading]</code></td>
                    <td>indicate loading state</td>
                    <td><code>boolean</code></td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzMaxTagCount]</code></td>
                    <td>Max tag count to show</td>
                    <td><code>number</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzMaxTagPlaceholder]</code></td>
                    <td>Placeholder for not showing tags</td>
                    <td>TemplateRef&lt;{{ '{' }} $implicit: any[] {{ '}' }}&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(ngModelChange)</code></td>
                    <td>Current selected nz-option value change callback.</td>
                    <td><code>EventEmitter&lt;any[]&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOpenChange)</code></td>
                    <td>dropdown expand change callback</td>
                    <td><code>EventEmitter&lt;boolean&gt;</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>(nzScrollToBottom)</code></td>
                    <td>Called when dropdown scrolls to bottom</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnSearch)</code></td>
                    <td>Callback function that is fired when input changed.</td>
                    <td><code>EventEmitter&lt;string&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzFocus)</code></td>
                    <td>focus callback</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzBlur)</code></td>
                    <td>blur callback</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-option</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>Disable this option</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzLabel]</code></td>
                    <td>The text show in nz-select and dropdown menu</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzValue]</code></td>
                    <td>The value passed to ngModel of nz-select</td>
                    <td>any</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzCustomContent]</code></td>
                    <td>Whether custom nz-option content in drodown menu, the ng-content in nz-option will relace nzLabel when it was set to true</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-option-group</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzLabel]</code></td>
                    <td>Group label</td>
                    <td>string丨<code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>    
</nz-card>    
<nz-card nzTitle="Method">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-select</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>blur()</td>
                    <td>Remove focus</td>
                </tr>
                <tr>
                    <td>focus()</td>
                    <td>Get focus</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card>        