<nz-card>
    <h4>Basic</h4>
    <p>The most basic usage of <code>nz-transfer</code> involves providing the source data and target keys arrays, plus the rendering and some callback functions.</p>
    <div class="m-t-25">
        <nz-transfer
            [nzDataSource]="transferBasicList"
            [nzTitles]="['Source', 'Target']"
            (nzSelectChange)="transferBasicSelect($event)"
            (nzChange)="transferBasicChange($event)">
        </nz-transfer>
    </div>
    <codebox [codeContent]="transferBasicCode"></codebox>
</nz-card>
<nz-card>
    <h4>Search</h4>
    <p>Transfer with a search box.</p>
    <div class="m-t-25">
        <nz-transfer
            [nzDataSource]="transferSearchList"
            nzShowSearch
            [nzFilterOption]="transferSearchFilterOption"
            (nzSearchChange)="transferSearch($event)"
            (nzSelectChange)="transferSearchSelect($event)"
            (nzChange)="transferSearchShange($event)">
        </nz-transfer>
    </div>
    <codebox [codeContent]="transferSearchCode"></codebox>
</nz-card>
<nz-card>
    <h4>Advanced</h4>
    <p>Advanced Usage of Transfer.</p>
    <p>You can customize the labels of the transfer buttons, the width and height of the columns, and what should be displayed in the footer.</p>
    <div class="m-t-25">
        <nz-transfer
            [nzDataSource]="transferAdvancedList"
            nzShowSearch
            [nzOperations]="['to right', 'to left']"
            [nzListStyle]="{'width.px': 300, 'height.px': 400}"
            [nzRender]="render"
            [nzFooter]="footer"
            (nzSelectChange)="transferAdvancedSelect($event)"
            (nzChange)="transferAdvancedChange($event)">
            <ng-template #render let-item>
                {{ item.title }}-{{ item.description }}
            </ng-template>
            <ng-template #footer let-direction>
                <button nz-button (click)="transferAdvancedReload(direction)" [nzSize]="'small'" class="float-right m-10">reload</button>
            </ng-template>
        </nz-transfer>
    </div>
    <codebox [codeContent]="transferAdvancedCode"></codebox>
</nz-card>
<nz-card>
    <h4>Custom datasource</h4>
    <p>Custom each Transfer Item, and in this way you can render a complex datasource.</p>
    <div class="m-t-25">
        <nz-transfer
            [nzDataSource]="transferCustomDatasourceList"
            [nzListStyle]="{'width.px': 300, 'height.px': 300}"
            [nzRender]="transferCustomDatasourceRender"
            (nzSelectChange)="transferCustomDatasourceSelect($event)"
            (nzChange)="transferCustomDatasourceChange($event)">
            <ng-template #transferCustomDatasourceRender let-item>
                <i nz-icon nzType="{{item.icon}}"></i> {{ item.title }}
            </ng-template>
        </nz-transfer>
    </div>
    <codebox [codeContent]="transferCustomDatasourceCode"></codebox>
</nz-card>
<nz-card>
    <h4>Check Before Move</h4>
    <p>Can use <code>nzCanMove</code> to do two-verification.</p>
    <div class="m-t-25">
        <nz-transfer
            [nzDataSource]="transferCheckBeforeMoveList"
            [nzCanMove]="transferCheckBeforeMoveCanMove"
            (nzSelectChange)="transferCheckBeforeMoveSelect($event)"
            (nzChange)="transferCheckBeforeMoveChange($event)">
        </nz-transfer>
    </div>
    <codebox [codeContent]="transferCheckBeforeMoveCode"></codebox>
</nz-card>
<nz-card>
    <h4>Table Transfer</h4>
    <p>Customize render list with Table component.</p>
    <div class="m-t-25">
        <nz-transfer
            [nzDataSource]="transferTableList"
            [nzDisabled]="disabled"
            [nzShowSearch]="showSearch"
            [nzShowSelectAll]="false"
            [nzRenderList]="[renderList, renderList]"
            (nzSelectChange)="select($event)"
            (nzChange)="tableChange($event)"
        >
            <ng-template
                #renderList
                let-items
                let-direction="direction"
                let-stat="stat"
                let-disabled="disabled"
                let-onItemSelectAll="onItemSelectAll"
                let-onItemSelect="onItemSelect"
            >
                <nz-table #t [nzData]="convertItems(items)" nzSize="small">
                    <thead>
                        <tr>
                        <th
                            nzShowCheckbox
                            [nzDisabled]="disabled"
                            [nzChecked]="stat.checkAll"
                            [nzIndeterminate]="stat.checkHalf"
                            (nzCheckedChange)="onItemSelectAll($event)"
                        ></th>
                        <th>Name</th>
                        <th *ngIf="direction === 'left'">Tag</th>
                        <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of t.data" (click)="onItemSelect(data)">
                        <td
                            nzShowCheckbox
                            [nzChecked]="data.checked"
                            [nzDisabled]="disabled || data.disabled"
                            (nzCheckedChange)="onItemSelect(data)"
                        ></td>
                        <td>{{ data.title }}</td>
                        <td *ngIf="direction === 'left'">
                            <nz-tag>{{ data.tag }}</nz-tag>
                        </td>
                        <td>{{ data.description }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </ng-template>
        </nz-transfer>
        <div class="m-t-20">
            <nz-switch class="m-r-10" [(ngModel)]="disabled" nzCheckedChildren="disabled" nzUnCheckedChildren="disabled"></nz-switch>
            <nz-switch [(ngModel)]="showSearch" nzCheckedChildren="showSearch" nzUnCheckedChildren="showSearch"></nz-switch>
        </div>
    </div>
    <codebox [codeContent]="transferTableCode"></codebox>
</nz-card>
<nz-card>
    <h4>Tree Transfer</h4>
    <p>Customize render list with Tree component.</p>
    <div class="m-t-25">
        <nz-transfer
            [nzDataSource]="transferTreelist"
            [nzShowSelectAll]="false"
            [nzRenderList]="[leftRenderList, null]"
            (nzChange)="treeChange($event)"
          >
            <ng-template #leftRenderList let-items let-onItemSelectAll="onItemSelectAll" let-onItemSelect="onItemSelect">
                <nz-tree #tree [nzData]="treeData" nzExpandAll nzBlockNode>
                    <ng-template #nzTreeTemplate let-node>
                        <span
                            class="ant-tree-checkbox"
                            [class.ant-tree-checkbox-disabled]="node.isDisabled"
                            [class.ant-tree-checkbox-checked]="node.isChecked"
                            (click)="checkBoxChange(node, onItemSelect)"
                        >
                            <span class="ant-tree-checkbox-inner"></span>
                        </span>
                        <span
                            (click)="checkBoxChange(node, onItemSelect)"
                            class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-open"
                            >{{ node.title }}</span
                        >
                    </ng-template>
                </nz-tree>
            </ng-template>
        </nz-transfer>
    </div>
    <codebox [codeContent]="transferTreeCode"></codebox>
</nz-card>
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-transfer</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzDataSource]</code></td>
                    <td>Used for setting the source data. Except the elements whose keys are <code>direction: 'right'</code> prop , or using <code>nzTargetKeys</code> prop.</td>
                    <td><code>TransferItem[]</code></td>
                    <td><code>[]</code></td>
                </tr>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>Whether disabled transfer</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzTitles]</code></td>
                    <td>A set of titles that are sorted from left to right.</td>
                    <td><code>string[]</code></td>
                    <td><code>['', '']</code></td>
                </tr>
                <tr>
                    <td><code>[nzOperations]</code></td>
                    <td>A set of operations that are sorted from bottom to top.</td>
                    <td><code>string[]</code></td>
                    <td><code>['', '']</code></td>
                </tr>
                <tr>
                    <td><code>[nzListStyle]</code></td>
                    <td>A custom CSS style used for rendering the transfer columns. equal <code>ngStyle</code></td>
                    <td><code>object</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzItemUnit]</code></td>
                    <td>single unit</td>
                    <td><code>string</code></td>
                    <td><code>'item'</code></td>
                </tr>
                <tr>
                    <td><code>[nzItemsUnit]</code></td>
                    <td>multiple unit</td>
                    <td><code>string</code></td>
                    <td><code>'items'</code></td>
                </tr>
                <tr>
                    <td><code>[nzRenderList]</code></td>
                    <td>Customize render list, please refer to the case.</td>
                    <td><code>Array&lt;TemplateRef&lt;void&gt; | null&gt;</code></td>
                    <td><code>[null, null]</code></td>
                </tr>
                <tr>
                    <td><code>[nzRender]</code></td>
                    <td>The function to generate the item shown on a column. please refer to the case.</td>
                    <td><code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzFooter]</code></td>
                    <td>A function used for rendering the footer. please refer to the case.</td>
                    <td><code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzShowSearch]</code></td>
                    <td>If included, a search box is shown on each column.</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzFilterOption]</code></td>
                    <td>A function to determine whether an item should show in search result list</td>
                    <td><code>(inputValue: string, item: TransferItem) =&gt; boolean</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzSearchPlaceholder]</code></td>
                    <td>The hint text of the search box.</td>
                    <td><code>string</code></td>
                    <td><code>'Search here'</code></td>
                </tr>
                <tr>
                    <td><code>[nzNotFoundContent]</code></td>
                    <td>Text to display when a column is empty.</td>
                    <td><code>string</code></td>
                    <td><code>'The list is empty'</code></td>
                </tr>
                <tr>
                    <td><code>[nzCanMove]</code></td>
                    <td>Two verification when transfer choice box. please refer to the case.</td>
                    <td><code>(arg: TransferCanMove) =&gt; Observable&lt;TransferItem[]&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzTargetKeys]</code></td>
                    <td>A set of keys of elements that are listed on the right column.</td>
                    <td><code>string[]</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzChange)</code></td>
                    <td>A callback function that is executed when the transfer between columns is complete.</td>
                    <td><code>EventEmitter&lt;TransferChange&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzSearchChange)</code></td>
                    <td>A callback function which is executed when search field are changed</td>
                    <td><code>EventEmitter&lt;TransferSearchChange&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzSelectChange)</code></td>
                    <td>A callback function which is executed when selected items are changed.</td>
                    <td><code>EventEmitter&lt;TransferSearchChange&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">TransferItem</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>title</td>
                    <td>Used to display and search keyword</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>direction</td>
                    <td>Used for setting the source data. Except the elements whose keys are <code>direction: 'right'</code> prop.</td>
                    <td><code>left,right</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>disabled</td>
                    <td>specifies whether the checkbox is disabled</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>checked</td>
                    <td>specifies whether the checkbox is selected</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">TransferCanMove</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>direction</td>
                    <td>data direction</td>
                    <td><code>left,right</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>list</td>
                    <td>Used for setting the source data.</td>
                    <td>TransferItem[]</td>
                    <td>[]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">TransferChange</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>from</td>
                    <td>data direction</td>
                    <td><code>left,right</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>to</td>
                    <td>data direction</td>
                    <td><code>left,right</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>list</td>
                    <td>Used for setting the source data.</td>
                    <td>TransferItem[]</td>
                    <td>[]</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">TransferSearchChange</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>direction</td>
                    <td>data direction</td>
                    <td><code>left,right</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>Search keyword</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nzRenderList</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>direction</code></td>
                    <td>List render direction</td>
                    <td><code>'left' | 'right'</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>disabled</code></td>
                    <td>Disable list or not</td>
                    <td><code>boolean</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>items</code></td>
                    <td>Filtered items</td>
                    <td><code>TransferItem[]</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>onItemSelect</code></td>
                    <td>Select item</td>
                    <td><code>(item: TransferItem) =&gt; void</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>onItemSelectAll</code></td>
                    <td>Select a group of items</td>
                    <td><code>(selected: boolean) =&gt; void</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card>