<nz-card>
    <h4>Basic</h4>
    <p>The most basic step bar.</p>
    <div class="m-t-25">
        <nz-steps>
            <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
        </nz-steps>
    </div>
    <codebox [codeContent]="stepsBasicCode"></codebox>
</nz-card>
<nz-card>
    <h4>Mini version</h4>
    <p>By setting like this: <code>&lt;nz-steps nzSize="small"&gt;</code>, you can get a mini version.</p>
    <div class="m-t-25">
        <nz-steps [nzCurrent]="basicCurrent" nzSize="small">
            <nz-step nzTitle="Finished"></nz-step>
            <nz-step nzTitle="In Progress"></nz-step>
            <nz-step nzTitle="Waiting"></nz-step>
        </nz-steps>
    </div>
    <codebox [codeContent]="stepsMiniCode"></codebox>
</nz-card>
<nz-card>
    <h4>With icon</h4>
    <p>You can use your own custom icons by setting the property <code>nzIcon</code> for <code>nz-step</code>.</p>
    <div class="m-t-25">
        <nz-steps>
            <nz-step nzTitle="Login" nzStatus="finish" nzIcon="user"></nz-step>
            <nz-step nzTitle="Verification" nzStatus="finish" nzIcon="solution"></nz-step>
            <nz-step nzTitle="Pay" nzStatus="process" nzIcon="loading"></nz-step>
            <nz-step nzTitle="Done" nzStatus="wait" [nzIcon]="iconTemplate"></nz-step>
            <ng-template #iconTemplate><i nz-icon nzType="smile"></i></ng-template>
        </nz-steps>
    </div>
    <codebox [codeContent]="stepsWithIconCode"></codebox>
</nz-card>
<nz-card>
    <h4>Switch Step</h4>
    <p>Cooperate with the content and buttons, to represent the progress of a process.</p>
    <div class="m-t-25">
        <nz-steps [nzCurrent]="swicthStepCurrent">
            <nz-step nzTitle="Finished"></nz-step>
            <nz-step nzTitle="In Progress"></nz-step>
            <nz-step nzTitle="Waiting"></nz-step>
        </nz-steps>
        <div class="steps-content">{{ index }}</div>
        <div class="steps-action m-t-25">
            <button nz-button nzType="default" class="m-r-10" (click)="pre()" *ngIf="swicthStepCurrent > 0">
                <span>Previous</span>
            </button>
            <button nz-button nzType="default" class="m-r-10" (click)="next()" *ngIf="swicthStepCurrent < 2">
                <span>Next</span>
            </button>
            <button nz-button nzType="primary" class="m-r-10" (click)="done()" *ngIf="swicthStepCurrent === 2">
                <span>Done</span>
            </button>
        </div>
    </div>
    <codebox [codeContent]="stepsSwitchStepsCode"></codebox>
</nz-card>
<nz-card>
    <h4>Vertical</h4>
    <p>A simple step bar in the vertical direction.</p>
    <div class="m-t-25">
        <nz-steps [nzCurrent]="1" nzDirection="vertical">
            <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
        </nz-steps>
    </div>
    <codebox [codeContent]="stepsVerticalCode"></codebox>
</nz-card>
<nz-card>
    <h4>Vertical mini version</h4>
    <p>A simple mini version step bar in the vertical direction.</p>
    <div class="m-t-25">
        <nz-steps [nzCurrent]="1" nzDirection="vertical" nzSize="small">
            <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
        </nz-steps>
    </div>
    <codebox [codeContent]="stepsVerticalMiniCode"></codebox>
</nz-card>
<nz-card>
    <h4>Error status</h4>
    <p>By using <code>nzStatus</code> of <code>nz-steps</code>, you can specify the state for current step.</p>
    <div class="m-t-25">
        <nz-steps [nzCurrent]="1" nzStatus="error">
            <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
        </nz-steps>
    </div>
    <codebox [codeContent]="stepsErrorStatusCode"></codebox>
</nz-card>
<nz-card>
    <h4>Dot Style</h4>
    <p>Steps with progress dot style.</p>
    <div class="m-t-25">
        <nz-steps [nzCurrent]="1" nzProgressDot>
            <nz-step nzTitle="Finished" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="In Progress" nzDescription="This is a description."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="This is a description."></nz-step>
        </nz-steps>
    </div>
    <codebox [codeContent]="stepsDotStyleCode"></codebox>
</nz-card>
<nz-card>
    <h4>Customized Dot Style</h4>
    <p>You can customize the display for Steps with progress dot style.</p>
    <div class="m-t-25">
        <nz-steps [nzCurrent]="1" [nzProgressDot]="progressTemplate">
            <nz-step nzTitle="Finished" nzDescription="You can hover on the dot."></nz-step>
            <nz-step nzTitle="In Progress" nzDescription="You can hover on the dot."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="You can hover on the dot."></nz-step>
            <nz-step nzTitle="Waiting" nzDescription="You can hover on the dot."></nz-step>
        </nz-steps>
        <ng-template #progressTemplate let-dot let-status="status" let-index="index">
            <span nz-popover nzContent="steps {{ index }} status: {{ status }}" style="margin-left: -100%;">
                <ng-template [ngTemplateOutlet]="dot"></ng-template>
            </span>
        </ng-template>
    </div>
    <codebox [codeContent]="stepsCustomizeDotStyleCode"></codebox>
</nz-card>
<nz-card nzTitle="API">
    <pre><code highlight [textContent]="stepsAPICode"></code></pre>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-steps</span>
            <label class="api-type-label component">component</label>
        </h5>
        <p>The whole of the step bar.</p>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzCurrent]</code></td>
                    <td>to set the current step, counting from 0. You can overwrite this state by using <code>nzStatus</code> of <code>nz-step</code></td>
                    <td>number</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><code>[nzDirection]</code></td>
                    <td>to specify the direction of the step bar, <code>horizontal</code> and <code>vertical</code> are currently supported</td>
                    <td>string</td>
                    <td><code>horizontal</code></td>
                </tr>
                <tr>
                    <td><code>[nzLabelPlacement]</code></td>
                    <td>Support vertical title and description</td>
                    <td><code>'vertical' | 'horizontal'</code></td>
                    <td><code>horizontal</code></td>
                </tr>
                <tr>
                    <td><code>[nzProgressDot]</code></td>
                    <td>Steps with progress dot style, customize the progress dot by setting it with TemplateRef</td>
                    <td>Boolean 丨 <code>TemplateRef&lt;{{ '{' }} $implicit: TemplateRef&lt;void&gt;, status: string, index: number {{'}'}}&gt;</code></td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>to specify the size of the step bar, <code>default</code> and <code>small</code> are currently supported</td>
                    <td>string</td>
                    <td><code>default</code></td>
                </tr>
                <tr>
                    <td><code>[nzStatus]</code></td>
                    <td>to specify the status of current step, can be set to one of the following values: <code>wait</code><code>process</code><code>finish</code><code>error</code></td>
                    <td>string</td>
                    <td><code>process</code></td>
                </tr>
                <tr>
                    <td><code>[nzStartIndex]</code></td>
                    <td>To specify the starting number</td>
                    <td>number</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-step</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzDescription]</code></td>
                    <td>description of the step, optional property</td>
                    <td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzIcon]</code></td>
                    <td>icon of the step, optional property</td>
                    <td><code>string 丨 string[] 丨 Set&lt;string&gt; 丨 {{ '{' }} [klass: string]: any; {{'}'}};</code> 丨 <code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzStatus]</code></td>
                    <td>to specify the status. It will be automatically set by <code>nzCurrent</code> of <code>nz-steps</code> if not configured. Optional values are: <code>wait</code><code>process</code><code>finish</code><code>error</code></td>
                    <td>string</td>
                    <td><code>wait</code></td>
                </tr>
                <tr>
                    <td><code>[nzTitle]</code></td>
                    <td>title of the step</td>
                    <td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>    
</nz-card>        