<nz-card>
    <h4>Basic</h4>
    <p>Simplest usage.</p>
    <div class="m-t-25">
        <nz-empty></nz-empty>
    </div>
    <codebox [codeContent]="emptyBasicCode"></codebox>
</nz-card>
<nz-card>
    <h4>Customize</h4>
    <p>Customize image, description and extra content.</p>
    <div class="m-t-25">
        <nz-empty
            [nzNotFoundImage]="
              'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'
            "
            [nzNotFoundContent]="contentTpl"
            [nzNotFoundFooter]="footerTpl"
        >
            <ng-template #contentTpl>
                <span> Customize <a href="#API">Description</a> </span>
            </ng-template>
            <ng-template #footerTpl>
                <button nz-button nzType="primary" (click)="onClick()">Create Now</button>
            </ng-template>
        </nz-empty>
    </div>
    <codebox [codeContent]="emptyCustomizeCode"></codebox>
</nz-card>
<nz-card>
    <h4>Default Config</h4>
    <p>Use <code>NzEmptyService</code> set global Empty style.</p>
    <div class="m-t-25">
            <nz-switch
            [nzUnCheckedChildren]="'default'"
            [nzCheckedChildren]="'customize'"
            [(ngModel)]="customize"
            (ngModelChange)="onConfigChange()"
        >
        </nz-switch>
        <nz-divider></nz-divider>
        <h5>Select</h5>
        <nz-select style="width: 200px"></nz-select>
        <h5 class="m-t-25">TreeSelect</h5>
        <nz-tree-select style="width: 200px;"></nz-tree-select>
        <h5 class="m-t-25">Cascader</h5>
        <nz-cascader style="width: 200px;" [nzShowSearch]="true" [nzOptions]="[]"></nz-cascader>
        <h5 class="m-t-25">Transfer</h5>
        <nz-transfer></nz-transfer>
        <h5 class="m-t-25">Table</h5>
        <nz-table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Age</th>
                </tr>
            </thead>
        </nz-table>
        <h5 class="m-t-25">List</h5>
        <nz-list [nzDataSource]="[]"></nz-list>
        <ng-template #customTpl let-name>
            <div style="text-align: center;">
                <i nz-icon nzType="smile" style="font-size: 20px;"></i>
                <p>Data Not Found in {{ name }}</p>
            </div>
        </ng-template>
    </div>
    <codebox [codeContent]="emptyDefaultConfigCode"></codebox>
</nz-card>
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-empty</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzNotFoundImage]</code></td>
                    <td>Customize image. Will tread as image url when string provided</td>
                    <td><code>string</code> ｜ <code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzNotFoundContent]</code></td>
                    <td>Custom description</td>
                    <td><code>string</code> ｜ <code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzNotFoundFooter]</code></td>
                    <td>Custom Footer</td>
                    <td><code>string</code> ｜ <code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzEmptyService</span>
            <label class="api-type-label service">service</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Methods/Properties</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>setDefaultContent</code></td>
                    <td>To set the default empty content. The parent component name would be passed to the template.</td>
                    <td><code>TemplateRef&lt;string&gt;</code> ｜ <code>string</code></td>
                </tr>
                <tr>
                    <td><code>resetDefault</code></td>
                    <td>Reset default empty content</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">InjectionToken</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Description</th>
                    <th>Parameters</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>NZ_DEFAULT_EMPTY_CONTENT</code></td>
                    <td>To provide a user default empty component</td>
                    <td><code>Component</code> ｜ <code>string</code></td>
                </tr>
                <tr>
                    <td><code>NZ_EMPTY_COMPONENT_NAME</code></td>
                    <td>Would be injected to <code>NZ_DEFAULT_EMPTY_CONTENT</code>, telling that component its parent component's name</td>
                    <td><code>string</code></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">Global Customizable Empty Content</span>
        </h5>
        <p>You may notice or used some inputs like <code>nzNotFoundContent</code> in some components. Now they would use <code>Empty</code> component. And you can even render a user default empty component, either by providing a <code>NZ_DEFAULT_EMPTY_CONTENT</code> in your root module or invoke <code>setDefaultEmptyContent</code>.</p>
    </div>
</nz-card>