<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Normal prompt</h4>
            <p>Normal messages as feedbacks.</p>
            <div class="m-t-25">
                <button nz-button [nzType]="'primary'" (click)="createBasicMessage()">Display normal message</button>
            </div>
            <codebox [codeContent]="messageNormalPromptCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Customize duration</h4>
            <p>Customize message display duration from default <code>3s</code> to <code>10s</code>.</p>
            <div class="m-t-25">
                <button nz-button [nzType]="'default'" (click)="createDurationMessage()">Customized display duration</button>
            </div>
            <codebox [codeContent]="messageCustomizeDurationCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Customize duration</h4>
            <p>You can subscribe to <code>onClose</code> event to make some operations. This case would open three messages in sequence.</p>
            <div class="m-t-25">
                <button nz-button [nzType]="'default'" (click)="startShowMessages()">Display a sequence of messages</button>
            </div>
            <codebox [codeContent]="messageSequenceCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Other types of message</h4>
            <p>Messages of success, error and warning types.</p>
            <div class="m-t-25">
                <button class="m-r-10" nz-button (click)="createTypeMessage('success')">Success</button>
                <button class="m-r-10" nz-button (click)="createTypeMessage('error')">Error</button>
                <button class="m-r-10" nz-button (click)="createTypeMessage('warning')">Warning</button>
            </div>
            <codebox [codeContent]="messageTypesCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Message of loading</h4>
            <p>Display a global loading indicator, which is dismissed by itself asynchronously.</p>
            <div class="m-t-25">
                <button nz-button [nzType]="'default'" (click)="createLoadingMessage()">Display a loading indicator</button>
            </div>
            <codebox [codeContent]="messageLoadingCode"></codebox>
        </nz-card>
    </div>
</div>        
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzMessageService</span>
            <label class="api-type-label service">service</label>
        </h5>
        <p>This components provides some service methods, with usage and arguments as following:</p>
        <ul class="list-styled m-b-30">
            <li><code>NzMessageService.success(content, [options])</code></li>
            <li><code>NzMessageService.error(content, [options])</code></li>
            <li><code>NzMessageService.info(content, [options])</code></li>
            <li><code>NzMessageService.warning(content, [options])</code></li>
            <li><code>NzMessageService.loading(content, [options])</code></li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>Argument</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>content</td>
                    <td>The content of message</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>options</td>
                    <td>Support setting the parameters for the current message box, see the table below</td>
                    <td>object</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
        <p class="m-v-30">The parameters that are set by the <code>options</code> support are as follows:</p>
        <table>
            <thead>
                <tr>
                    <th>Argument</th>
                    <th>Description</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nzDuration</td>
                    <td>Duration (milliseconds), does not disappear when set to 0</td>
                    <td>number</td>
                </tr>
                <tr>
                    <td>nzPauseOnHover</td>
                    <td>Do not remove automatically when mouse is over while setting to <code>true</code></td>
                    <td>boolean</td>
                </tr>
                <tr>
                    <td>nzAnimate</td>
                    <td>Whether to turn on animation</td>
                    <td>boolean</td>
                </tr>
            </tbody>
        </table>
        <p class="m-t-30">Methods for destruction are also provided:</p>
        <ul class="list-styled">
            <li><code>message.remove(id)</code> // Remove the message with the specified id. When the id is empty, remove all messages (the message id is returned by the above method)</li>
        </ul>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">Global configuration (NZ_MESSAGE_CONFIG)</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Argument</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nzDuration</td>
                    <td>Duration (milliseconds), does not disappear when set to 0</td>
                    <td>number</td>
                    <td>3000</td>
                </tr>
                <tr>
                    <td>nzMaxStack</td>
                    <td>The maximum number of messages that can be displayed at the same time</td>
                    <td>number</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>nzPauseOnHover</td>
                    <td>Do not remove automatically when mouse is over while setting to <code>true</code></td>
                    <td>boolean</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>nzAnimate</td>
                    <td>Whether to turn on animation</td>
                    <td>boolean</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>nzTop</td>
                    <td>Distance from top</td>
                    <td><code>number | string</code></td>
                    <td><code>24</code></td>
                </tr>
            </tbody>
        </table>
    </div>    
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzMessageDataFilled</span>
        </h5>
        <p>It's the object that returned when you call <code>NzMessageService.success</code> and others.</p>
        <pre><code highlight [textContent]="messageAPICode"></code></pre>
    </div>
</nz-card> 