<nz-card>
  <form [formGroup]="uploadValidationForm">
    <table class="product-info-table m-t-20">

      <tr *ngFor="let item of displayData">
        <td>

          <label>
            <span class="m-l-10">{{item}}</span>
          </label>
        </td>
        <td>
          <div class="m-t-25">
            <nz-upload nzName="{{item}}" #file
                       [nzFileType]="'text/csv'"
                       [nzCustomRequest]="customReq">
              <button nz-button nzType="primary" nz-tooltip nzTitle="Séléctioné un fichier CSV" nzShape="round">
                <i nz-icon nzType="upload"></i><span>Importer</span>
              </button>
            </nz-upload>
          </div>
        </td>

      </tr>
    </table>
  </form>
</nz-card>


