<div class="row">

  <div class="col-md-12 col-lg-12">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <h5>Statistique globaux du grande Activité Redevance</h5>
      </div>

      <div class="row">
          <div class="col-md-4 col-lg-3">
            <nz-card>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="m-b-0">Budget Notif</p>
                  <h2 class="m-b-0">
                    <span>€{{budget_notifie}}</span>
                  </h2>
                </div>
                <nz-avatar [nzSize]="50" nzIcon="dollar" class="ant-avatar-blue"></nz-avatar>
              </div>
            </nz-card>
          </div>
          <div class="col-md-4 col-lg-3">
            <nz-card>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="m-b-0">Budget estime1</p>
                  <h2 class="m-b-0">
                    <span>€{{budget_Estime1}}</span>
                  </h2>
                </div>
                <nz-avatar [nzSize]="50" nzIcon="dollar" class="ant-avatar-cyan"></nz-avatar>
              </div>
            </nz-card>
          </div>
          <div class="col-md-4 col-lg-3">
            <nz-card>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <p class="m-b-0">Budget estime2</p>
                  <h2 class="m-b-0">
                    <span>€{{budget_Estime2}}</span>
                  </h2>
                </div>
                <nz-avatar [nzSize]="50" nzIcon="dollar" class="ant-avatar-cyan"></nz-avatar>
              </div>
            </nz-card>
          </div>
        <div class="col-md-4 col-lg-3">
          <nz-card>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <p class="m-b-0">Budget estime3</p>
                <h2 class="m-b-0">
                  <span>€{{budget_Estime3}}</span>
                </h2>
              </div>
              <nz-avatar [nzSize]="50" nzIcon="dollar" class="ant-avatar-cyan"></nz-avatar>
            </div>
          </nz-card>
        </div>
        </div>


    </nz-card>
  </div>
</div>
