<nz-card>
    <h4>Basic</h4>
    <p>A basic calendar component with Year/Month switch.</p>
    <div class="m-t-25">
        <nz-calendar [(ngModel)]="calendarBasicDate" [(nzMode)]="calendarBasicMode"></nz-calendar>
    </div>
    <codebox [codeContent]="calendarBasicCode"></codebox>
</nz-card>
<nz-card>
    <h4>Notice Calendar</h4>
    <p>This component can be rendered by using <code>dateCell</code> and <code>monthCell</code> with the data you need.</p>
    <div class="m-t-25">
        <nz-calendar>
            <ul *nzDateCell="let date" class="events">
                <ng-container [ngSwitch]="date.getDate()">
                    <ng-container *ngSwitchCase="8">
                        <li *ngFor="let item of listDataMap.eight">
                            <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
                        </li>
                    </ng-container>
                    <ng-container *ngSwitchCase="10">
                        <li *ngFor="let item of listDataMap.ten">
                            <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
                        </li>
                    </ng-container>
                    <ng-container *ngSwitchCase="11">
                        <li *ngFor="let item of listDataMap.eleven">
                            <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
                        </li>
                    </ng-container>
                </ng-container>
            </ul>
            <ng-container *nzMonthCell="let month">
                <div *ngIf="getMonthData(month) as monthData" class="notes-month">
                    <section>{{ monthData }}</section>
                    <span>Backlog number</span>
                </div>
            </ng-container>
        </nz-calendar>
    </div>
    <codebox [codeContent]="calendarNoticeCode"></codebox>
</nz-card>
<nz-card>
    <h4>Card</h4>
    <p>Nested inside a container element for rendering in limited space.</p>
    <div class="m-t-25">
        <div class="calendar-card">
            <nz-calendar nzCard (nzValueChange)="calendarCardOnValueChange($event)" (nzModeChange)="calendarCardOnModeChange($event)"></nz-calendar>
        </div>
    </div>
    <codebox [codeContent]="calendarCardCode"></codebox>
</nz-card>
<nz-card>
    <h4>Selectable Calendar</h4>
    <p>A basic calendar component with Year/Month switch.</p>
    <div class="m-t-25">
        <nz-alert nzMessage="Your selected date: {{ calendarSelectableSelectedValue | date:'yyyy-MM-dd' }}"></nz-alert>
        <nz-calendar [(ngModel)]="calendarSelectableSelectedValue"></nz-calendar>
    </div>
    <codebox [codeContent]="calendarSelectableCode"></codebox>
</nz-card>
<nz-card nzTitle="API">
    <p><strong class="text-dark">Note:</strong> Some of Calendar's locale are coming from <a target="_blank" href="https://angular.io/guide/i18n">Angular i18n</a>, that should be provided in the file of <code>app.module.ts</code>.</p>
    <p>For example:</p>
    <pre><code highlight [textContent]="calendarAPICode"></code></pre>
    <pre><code highlight [textContent]="calendarAPI2Code"></code></pre>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-calendar</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[(ngModel)]</code></td>
                    <td>(Two-way bindable) The current selected date</td>
                    <td><code>Date</code></td>
                    <td>current date</td>
                </tr>
                <tr>
                    <td><code>[(nzMode)]</code></td>
                    <td>The display mode of the calendar (two-way bindable)</td>
                    <td><code>'month'/'year'</code></td>
                    <td><code>'month'</code></td>
                </tr>
                <tr>
                    <td><code>[nzFullscreen]</code></td>
                    <td>Whether to display in full-screen</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzCard]</code></td>
                    <td>Whether to not display in full-screen</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzDateCell]</code></td>
                    <td>(Contentable) Customize the display of the date cell, the template content will be appended to the cell</td>
                    <td><code>TemplateRef&lt;Date&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzDateFullCell]</code></td>
                    <td>(Contentable) Customize the display of the date cell, the template content will override the cell</td>
                    <td><code>TemplateRef&lt;Date&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzMonthCell]</code></td>
                    <td>(Contentable) Customize the display of the month cell, the template content will be appended to the cell</td>
                    <td><code>TemplateRef&lt;Date&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzMonthFullCell]</code></td>
                    <td>(Contentable) Customize the display of the month cell, the template content will override the cell</td>
                    <td><code>TemplateRef&lt;Date&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzPanelChange)</code></td>
                    <td>Callback for when panel changes</td>
                    <td><code>EventEmitter&lt;{{ '{' }} date: Date, mode: 'month' | 'year' {{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card> 