<div class="container-fluid h-100">
    <div class="d-flex h-100 p-v-15 flex-column justify-content-between">
        <div class="d-none d-md-flex p-h-40">
            <img src="assets/images/logo/logo.png" alt="">
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <nz-card>
                        <h2 class="m-t-20">Suivi de Budget</h2>
                        <p class="m-b-30">Entrer votre matricule et mot de passe</p>
                        <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
                          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                            {{errorMessage}}
                          </div>
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="userName">Nom d'utilisateur</nz-form-label>
                                <nz-form-control>
                                    <nz-input-group [nzPrefix]="prefixUser">
                                        <input type="text" nz-input formControlName="userName" placeholder="Username">
                                    </nz-input-group>
                                    <nz-form-explain *ngIf="loginForm.get('userName').dirty && loginForm.get('userName').errors">Entrer votre matricule!</nz-form-explain>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-label nzRequired nzFor="password">Mot de passe</nz-form-label>
                                <a class="float-right font-size-13 p-t-10 text-muted" [routerLink]="['/authentication/reset-password-1']">Mot de passe oublié?</a>
                                <nz-form-control>
                                    <nz-input-group [nzPrefix]="prefixLock">
                                        <input type="password" nz-input formControlName="password" placeholder="Password">
                                    </nz-input-group>
                                    <nz-form-explain *ngIf="loginForm.get('password').dirty && loginForm.get('password').errors">Entrer votre mot de passe!</nz-form-explain>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="font-size-13 text-muted">Vous n'avez pas de compte ? <a class="small" [routerLink]="['/authentication/sign-up-2']">S'inscrire</a></span>
                                        <button nz-button class="login-form-button" [nzType]="'primary'">Se connecter</button>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                        <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
                        <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
                    </nz-card>
                </div>
                <div class="offset-md-1 col-md-6 d-none d-md-block">
                    <img class="img-fluid" src="assets/images/others/login-2.png" alt="">
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex  p-h-40 justify-content-between">
            <span class="">© 2020 RATP</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Legal</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</div>
