<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic</h4>
            <p>The basic example.</p>
            <div class="m-t-25">
                <a nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmBasicConfirm()" (nzOnCancel)="popconfirmBasicCancel()">Delete</a>
            </div>
            <codebox [codeContent]="popconfirmBasicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Placement</h4>
            <p>There are 12 <code>placement</code> options available. Use <code>arrowPointAtCenter</code> if you want arrow point at the center of target.</p>
            <div class="m-t-25">
                <div style="margin-left: 60px">
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="topLeft" nz-button>TL</button>
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="top" nz-button>Top</button>
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="topRight" nz-button>TR</button>
                </div>
                <div style="width: 60px; float: left;">
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="leftTop" nz-button>LT</button>
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="left" nz-button>Left</button>
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="leftBottom" nz-button>LB</button>
                </div>
                <div style="width: 60px; margin-left: 300px;">
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="rightTop" nz-button>RT</button>
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="right" nz-button>Right</button>
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="rightBottom" nz-button>RB</button>
                </div>
                <div style="margin-left: 60px; clear: both;">
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="bottomLeft" nz-button>BL</button>
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="bottom" nz-button>Bottom</button>
                    <button style="width: 90px" class="m-5" nz-popconfirm nzTitle="Are you sure delete this task?" (nzOnConfirm)="popconfirmPlacementConfirm()" (nzOnCancel)="popconfirmPlacementCancel()" nzPlacement="bottomRight" nz-button>BR</button>
                </div>
            </div>
            <codebox [codeContent]="popconfirmPlacementCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Customize icon</h4>
            <p>Set <code>nzIcon</code> to customize the icon.</p>
            <div class="m-t-25">
                <a nz-popconfirm nzTitle="Are you sure?" [nzIcon]="iconTpl">Delete</a>
                <ng-template #iconTpl>
                    <i nz-icon nzType="question-circle-o" style="color: red;"></i>
                </ng-template>
            </div>
            <codebox [codeContent]="popconfirmCustomIconCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Locale text</h4>
            <p>Set <code>okText</code> and <code>cancelText</code> props to customise the button's labels.</p>
            <div class="m-t-25">
                <a nz-popconfirm nzTitle="Are you sure?" nzOkText="ok" nzCancelText="cancel" (nzOnConfirm)="popconfirmLocaleTextConfirm()" (nzOnCancel)="popconfirmLocaleTextCancel()">delete</a>
            </div>
            <codebox [codeContent]="popconfirmLocaleTextCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Conditional trigger</h4>
            <p>Make it pop up under some conditions.</p>
            <div class="m-t-25">
                <a nz-popconfirm nzTitle="Are you sure delete this task?" [nzCondition]="switchValue" (nzOnConfirm)="popconfirmConditionTriggerConfirm()" (nzOnCancel)="popconfirmConditionTriggerCancel()">Delete a task</a>
                <br>
                <br>
                <span class="m-r-10">Whether directly execute:</span>
                <nz-switch [(ngModel)]="switchValue"></nz-switch>
            </div>
            <codebox [codeContent]="popconfirmConditionalTriggerCode"></codebox>
        </nz-card>
    </div>
</div>        
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nz-popconfirm]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzCancelText]</code></td>
                    <td>Text of the Cancel button</td>
                    <td><code>string</code></td>
                    <td><code>'Cancel'</code></td>
                </tr>
                <tr>
                    <td><code>[nzOkText]</code></td>
                    <td>Text of the Confirm button</td>
                    <td><code>string</code></td>
                    <td><code>'Confirm'</code></td>
                </tr>
                <tr>
                    <td><code>[nzOkType]</code></td>
                    <td>Button <code>type</code> of the Confirm button</td>
                    <td><code>'primary' | 'ghost' | 'dashed' | 'danger' | 'default'</code></td>
                    <td><code>'primary'</code></td>
                </tr>
                <tr>
                    <td><code>[nzTitle]</code></td>
                    <td>Title of the confirmation box</td>
                    <td><code>string | TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzCondition]</code></td>
                    <td>Whether to directly emit <code>onConfirm</code> without showing Popconfirm</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzIcon]</code></td>
                    <td>Customize icon of confirmation</td>
                    <td><code>string | TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnCancel)</code></td>
                    <td>Callback of cancel</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnConfirm)</code></td>
                    <td>Callback of confirmation</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">Common API</span>
        </h5>
        <p>The following APIs are shared by <code>nz-tooltip</code>, <code>nz-popconfirm</code>, <code>nz-popover</code>.</p>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzMouseEnterDelay]</code></td>
                    <td>Delay in seconds, before tooltip is shown on mouse enter</td>
                    <td>number</td>
                    <td>0</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzMouseLeaveDelay]</code></td>
                    <td>Delay in seconds, before tooltip is hidden on mouse leave</td>
                    <td>number</td>
                    <td>0.1</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzOverlayClassName]</code></td>
                    <td>Class name of the tooltip card</td>
                    <td>string</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzOverlayStyle]</code></td>
                    <td>Style of the tooltip card</td>
                    <td>object</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzPlacement]</code></td>
                    <td>The position of the tooltip relative to the target, which can be one of <code>top</code><code>left</code><code>right</code><code>bottom</code><code>topLeft</code><code>topRight</code><code>bottomLeft</code><code>bottomRight</code><code>leftTop</code><code>leftBottom</code><code>rightTop</code><code>rightBottom</code></td>
                    <td>string</td>
                    <td><code>top</code></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzTrigger]</code></td>
                    <td>Tooltip trigger mode</td>
                    <td><code>hover</code></td>
                    <td><code>focus</code></td>
                    <td><code>click</code></td>
                    <td><code>hover</code></td>
                </tr>
                <tr>
                    <td><code>[nzVisible]</code></td>
                    <td>Whether the floating tooltip card is visible or not</td>
                    <td>boolean</td>
                    <td><code>false</code></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>(nzVisibleChange)</code></td>
                    <td>Callback executed when visibility of the tooltip card is changed</td>
                    <td><code>EventEmitter&lt;boolean&gt;</code></td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card>  
<nz-card nzTitle="Note">
    <div class="markdown api-container">
        <p>Please ensure that the child node of <code>nz-popover</code> accepts <code>onMouseEnter</code>, <code>onMouseLeave</code>, <code>onFocus</code>, <code>onClick</code> events.</p>
    </div>
</nz-card>   