<nz-card>
  <h4>Créer une Synthèse</h4>
  <div class="m-t-25">
    <form nz-form [nzLayout]="'inline'" [formGroup]="syntheseValidationForm" (ngSubmit)="submitForm()">

      <nz-form-item>
        <nz-form-label nzRequired>Code UL</nz-form-label>
        <nz-form-control>
          <input formControlName="codeUL" nz-input required placeholder="Code UL"/>
          <nz-form-explain
            *ngIf="syntheseValidationForm.get('codeUL').dirty && syntheseValidationForm.get('codeUL').errors">Entrer un code
            d'unité Local!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Année</nz-form-label>
        <nz-form-control>
          <nz-year-picker formControlName="datePicker" nzPlaceHolder="Choisie une année"></nz-year-picker>
          <nz-form-explain
            *ngIf="syntheseValidationForm.get('datePicker').dirty && syntheseValidationForm.get('datePicker').errors">
            Choisissez une année!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary"><i nz-icon nzType="search"></i>Chercher</button>

    </form>
  </div>

  <div *ngIf="noDataFoundMessageDisplay" style="text-align: center;">
    <br><br><br>
    <i nz-icon nzType="meh" style="font-size: 20px;color: #c82829"></i>
    <p>Aucun Resultat n'est retrouver !</p>
  </div>




  <br><br><br>
  <ng-template #commandeContent>
    <nz-table #editCellTable nzBordered [nzScroll]="{ x : '500px' }" [nzPageSize]="50"
              [nzData]="selectedBudget.commandes">
      <thead>
      <tr>
        <th>ID_dist_cmd</th>
        <th>ID_entet_cmd</th>
        <th>Numero ols</th>
        <th>Fournisseur</th>
        <th>Description commande</th>
        <th>MOE prescripteur</th>
        <th>Budget grande activite</th>
        <th>Budget activite</th>
        <th>Budget notifie</th>
        <th>Bud budgget estime1</th>
        <th>Bud budgget estime2</th>
        <th>Bud budgget estime3</th>
        <th>Bud budgget estime4</th>
        <th>Qte engagee annee en cours</th>
        <th>Reste a receptionner</th>
        <th>Quantité commandée</th>
        <th>quantité réceptionnée</th>
        <th>quantité facturée</th>
        <th>Receptionne_annee_en_cours</th>
        <th>date création commande</th>
        <th>Segment1</th>
        <th>Segment2</th>
        <th>Segment3</th>
        <th>Segment4</th>
        <th>Segment5</th>
        <th>Segment6</th>
        <th>Segment7</th>
        <th>Catgory</th>
        <th>Marche</th>
        <th>Desc_ligne_cmd</th>
        <th>Cmd_a_regulariser</th>
        <th>Montant Regularise</th>
        <th>Cmd_regularisee</th>
        <th>Nouveau_segment7</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of editCellTable.data">
        <td>{{data.id_dist_cmd}}</td>
        <td>{{data.id_entet_cmd}}</td>
        <td>{{data.numero_ols}}</td>
        <td>{{data.fournisseur}}</td>
        <td>{{data.description_commande}}</td>
        <td>{{data.moe_prescripteur}}</td>
        <td style="color: #0000ee"><label [(ngModel)]="data.budget_grande_activite" ngDefaultControl>{{data.grande_activite}}</label></td>
        <td style="color: #0000ee"><label [(ngModel)]="data.budget_activite" ngDefaultControl>{{data.activite}}</label></td>
        <td style="color: #26880f"><label [(ngModel)]="data.budget_notifie" ngDefaultControl>{{data.notifie}}</label></td>
        <td style="color: #88150d"><label [(ngModel)]="data.bud_budgget_estime1" ngDefaultControl>{{data.bud_budgget_estime1}}</label></td>
        <td style="color: #88150d"><label [(ngModel)]="data.bud_budgget_estime2" ngDefaultControl>{{data.bud_budgget_estime2}}</label></td>
        <td style="color: #88150d"><label [(ngModel)]="data.bud_budgget_estime3" ngDefaultControl>{{data.bud_budgget_estime3}}</label></td>
        <td style="color: #88150d"><label [(ngModel)]="data.bud_budgget_estime4" ngDefaultControl>{{data.bud_budgget_estime4}}</label></td>
        <td>{{data.qte_engagee_annee_en_cours}}</td>
        <td>{{data.reste_a_receptionner}}</td>
        <td>{{data.quantite_commandee}}</td>
        <td>{{data.quantite_receptionnee}}</td>
        <td>{{data.quantite_facturee}}</td>
        <td>{{data.recep_avant_annee_en_cours}}</td>
        <td>{{data.date_creation_commande}}</td>
        <td>{{data.segment1}}</td>
        <td>{{data.segment2}}</td>
        <td>{{data.segment3}}</td>
        <td>{{data.segment4}}</td>
        <td>{{data.segment5}}</td>
        <td>{{data.segment6}}</td>
        <td>{{data.segment7}}</td>
        <td>{{data.catgory}}</td>
        <td>{{data.marche}}</td>
        <td>{{data.desc_ligne_cmd}}</td>
        <td>{{data.cmd_a_regulariser}}</td>
        <td>{{data.montant_Regularise}}</td>
        <td>{{data.cmd_regularisee}}</td>
        <td>{{data.nouveau_segment7}}</td>

      </tr>
      </tbody>
    </nz-table>
  </ng-template>

  <nz-table #ordersListTable [nzData]="displayData"
              [nzPageSize]="10"
              (nzPageIndexChange)="refreshStatus()"
              (nzPageSizeChange)="refreshStatus()">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th></th>
        <th nzShowSort nzSortKey="id">Grande Activité</th>
        <th nzShowSort nzSortKey="libelle">Activité</th>
        <th nzShowSort nzSortKey="description">Budget Notifié</th>
        <th nzShowSort nzSortKey="description">Estimé1</th>
        <th nzShowSort nzSortKey="description">Estimé2</th>
        <th nzShowSort nzSortKey="description">Estimé3</th>
        <th nzShowSort nzSortKey="description">Estimé4</th>
        <th nzShowSort nzSortKey="engage">Engagé</th>
        <th nzShowSort nzSortKey="receptionne">Réceptionné</th>
        <th nzShowSort nzSortKey="reste_a_receptionne">Reste à réceptionne</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of ordersListTable.data | search:'name':search as count ;  let i=index">
        <td>
          <button nz-button nzType="primary" nzShape="circle" (click)="showCommandes(commandeContent,item.budget)"><i nz-icon nzType="shopping-cart"></i></button>
        </td>
        <td>{{item.budget.budgetId.grandeActivite}}</td>
        <td>{{item.budget.budgetId.activite}}</td>
        <td>{{item.budget.budget_notifie}}</td>
        <td>{{item.budget.estime1}}</td>
        <td>{{item.budget.estime2}}</td>
        <td>{{item.budget.estime3}}</td>
        <td>{{item.budget.estime4}}</td>
        <td style="color: #2195ee;font-weight: bold;">{{item.engage}}</td>
        <td style="color: #44884d;font-weight: bold;">{{item.receptionne}}</td>
        <td style="color: #990b1b;font-weight: bold;">{{item.reste_a_receptionne}}</td>
      </tr>
      </tbody>
    </nz-table>

</nz-card>
