<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic usage</h4>
            <p>Basic usage example.</p>
            <div class="m-t-25">
                <input nz-input placeholder="Basic usage" [(ngModel)]="inputBasicModel">
                <br />
                <br />
                <input nz-input placeholder="Basic usage" [(ngModel)]="inputBasicModel" [disabled]="true" />
            </div>
            <codebox [codeContent]="inputBasicCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
         <nz-card>
            <h4>Three sizes of Input</h4>
            <p>There are three sizes of an Input box: <code>large</code> (40px)、<code>default</code> (32px) and <code>small</code> (24px).</p>
            <div class="m-t-25">
                <div class="row">
                    <div class="col-md-4">
                        <input nz-input placeholder="large size" nzSize="large">
                    </div>
                    <div class="col-md-4">
                        <input nz-input placeholder="default size" nzSize="default">
                    </div>
                    <div class="col-md-4">
                        <input nz-input placeholder="small size" nzSize="small">
                    </div>
                </div>
            </div>
            <codebox [codeContent]="inputSizeCode"></codebox>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Pre / Post tab</h4>
            <p>Using pre & post tabs example.</p>
            <div class="m-t-25">
                <div class="m-b-15">
                    <nz-input-group nzAddOnBefore="Http://" nzAddOnAfter=".com">
                        <input type="text" nz-input [(ngModel)]="prePostinputModel" />
                    </nz-input-group>
                </div>
                <div class="m-b-15">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" [nzAddOnAfter]="addOnAfterTemplate">
                        <input type="text" nz-input [(ngModel)]="prePostinputModel" />
                    </nz-input-group>
                    <ng-template #addOnBeforeTemplate>
                        <nz-select [ngModel]="'Http://'">
                            <nz-option [nzLabel]="'Http://'" [nzValue]="'Http://'"></nz-option>
                            <nz-option [nzLabel]="'Https://'" [nzValue]="'Https://'"></nz-option>
                        </nz-select>
                    </ng-template>
                    <ng-template #addOnAfterTemplate>
                        <nz-select [ngModel]="'.com'">
                            <nz-option [nzLabel]="'.com'" [nzValue]="'.com'"></nz-option>
                            <nz-option [nzLabel]="'.jp'" [nzValue]="'.jp'"></nz-option>
                            <nz-option [nzLabel]="'.cn'" [nzValue]="'.cn'"></nz-option>
                            <nz-option [nzLabel]="'.org'" [nzValue]="'.org'"></nz-option>
                        </nz-select>
                    </ng-template>
                </div>
                <div class="m-b-15">
                    <nz-input-group [nzAddOnAfterIcon]="'setting'">
                        <input type="text" nz-input [(ngModel)]="prePostinputModel" />
                    </nz-input-group>
                </div>
            </div>
            <codebox [codeContent]="inputPrePostCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Search box</h4>
            <p>Example of creating a search box by grouping a standard input with a search button.</p>
            <div class="m-t-25">
                <div class="m-b-15">
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input placeholder="input search text" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </div>
                <div class="m-b-15">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text" nz-input placeholder="input search text" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template>
                </div>
                <div class="m-b-15">
                    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                        <input type="text" nz-input placeholder="input search text" />
                    </nz-input-group>
                    <ng-template #suffixButton>
                        <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
                    </ng-template>
                </div>
            </div>
            <codebox [codeContent]="inputSearchBoxCode"></codebox>
        </nz-card>
    </div>
</div>    
<div class="row">
    <div class="col-md-12">
        <nz-card>
            <h4>Input Group</h4>
            <p>Input.Group example</p>
            <p>Note: You don't need <code>nz-col</code> to control the width in the <code>nzCompact</code> mode.</p>
            <div class="m-t-25">   
                <nz-input-group [nzSize]="'large'">
                    <div nz-col nzSpan="4">
                        <input type="text" nz-input [ngModel]="'0571'">
                    </div>
                    <div nz-col nzSpan="8">
                        <input type="text" nz-input [ngModel]="'26888888'">
                    </div>
                </nz-input-group>
                <br>
                <nz-input-group nzCompact>
                    <input type="text" nz-input [ngModel]="'0571'" style="width: 20%;">
                    <input type="text" nz-input [ngModel]="'26888888'" style="width:30%;">
                </nz-input-group>
                <br>
                <nz-input-group nzCompact>
                    <nz-select [ngModel]="'Zhejiang'">
                        <nz-option [nzLabel]="'Zhejiang'" [nzValue]="'Zhejiang'"></nz-option>
                        <nz-option [nzLabel]="'Jiangsu'" [nzValue]="'Jiangsu'"></nz-option>
                    </nz-select>
                    <input type="text" nz-input [ngModel]="'Xihu District, Hangzhou'" style="width:50%;">
                </nz-input-group>
                <br>
                <nz-input-group nzCompact>
                    <nz-select [ngModel]="'Option1'">
                        <nz-option [nzLabel]="'Option1'" [nzValue]="'Option1'"></nz-option>
                        <nz-option [nzLabel]="'Option2'" [nzValue]="'Option2'"></nz-option>
                    </nz-select>
                    <input type="text" nz-input [ngModel]="'input content'" style="width:50%;">
                    <nz-input-number></nz-input-number>
                </nz-input-group>
                <br>
                <nz-input-group nzCompact>
                    <input type="text" nz-input [ngModel]="'input content'" style="width:50%;">
                    <nz-date-picker></nz-date-picker>
                </nz-input-group>
                <br>
                <nz-input-group nzCompact>
                    <nz-select [ngModel]="'Option1-1'">
                        <nz-option [nzLabel]="'Option1-1'" [nzValue]="'Option1-1'"></nz-option>
                        <nz-option [nzLabel]="'Option1-2'" [nzValue]="'Option1-2'"></nz-option>
                    </nz-select>
                    <nz-select [ngModel]="'Option2-1'">
                        <nz-option [nzLabel]="'Option2-1'" [nzValue]="'Option2-1'"></nz-option>
                        <nz-option [nzLabel]="'Option2-2'" [nzValue]="'Option2-2'"></nz-option>
                    </nz-select>
                </nz-input-group>
                <br>
                <nz-input-group nzCompact>
                    <nz-select [ngModel]="'Between'">
                        <nz-option [nzLabel]="'Between'" [nzValue]="'Between'"></nz-option>
                        <nz-option [nzLabel]="'Except'" [nzValue]="'Except'"></nz-option>
                    </nz-select>
                    <input type="text" nz-input placeholder="Minimum" style="width:100px; text-align: center;">
                    <input type="text" disabled nz-input placeholder="~" style="width: 30px; border-left: 0px; pointer-events: none; background-color: rgb(255, 255, 255);">
                    <input type="text" nz-input placeholder="Maximum" style="width: 100px; text-align: center; border-left: 0px;">
                </nz-input-group>
                <br>
                <nz-input-group nzCompact>
                    <nz-select [ngModel]="'Sign Up'">
                        <nz-option [nzLabel]="'Sign Up'" [nzValue]="'Sign Up'"></nz-option>
                        <nz-option [nzLabel]="'Sign In'" [nzValue]="'Sign In'"></nz-option>
                    </nz-select>
                    <input type="email" nz-input placeholder="Email" style="width: 200px;">
                </nz-input-group>
                <br>
                <nz-input-group nzCompact style="max-width: 800px;">
                    <nz-select [ngModel]="'Home'" style="width: 30%;">
                        <nz-option [nzLabel]="'Home'" [nzValue]="'Home'"></nz-option>
                        <nz-option [nzLabel]="'Company'" [nzValue]="'Company'"></nz-option>
                    </nz-select>
                    <nz-cascader [nzOptions]="options" style="width: 70%;"></nz-cascader>
                </nz-input-group>
            </div>
            <codebox [codeContent]="inputGroupCode"></codebox>
        </nz-card>
    </div>
</div>            
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>TextArea</h4>
            <p>For multi-line input.</p>
            <div class="m-t-25">   
                <div class="m-v-50">
                    <textarea row="7" nz-input [(ngModel)]="inputTextareaModel"></textarea>
                </div> 
            </div>
            <codebox [codeContent]="inputTextAreaCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Autosizing the height to fit the content</h4>
            <p><code>nzAutosize</code> prop for a <code>textarea</code> type of <code>nz-input</code> makes the height to automatically adjust based on the content.
                An options object can be provided to <code>nzAutosize</code> to specify the minimum and maximum number of lines the textarea will automatically adjust.</p>
            <div class="m-t-25">   
                <textarea nz-input class="m-b-20" placeholder="Autosize height based on content lines" nzAutosize></textarea>
                <textarea nz-input placeholder="Autosize height with minimum and maximum number of lines" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
            </div>
            <codebox [codeContent]="inputAutoSizingCode"></codebox>
        </nz-card>
    </div>
</div>    
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>prefix and suffix</h4>
            <p>Add prefix or suffix icons inside input.</p>
            <div class="m-t-25">  
                <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
                    <input type="text" nz-input placeholder="Enter your username" />
                </nz-input-group>
                <ng-template #prefixTemplate><i nz-icon nzType="user"></i></ng-template>
                <ng-template #suffixTemplate><i nz-icon nz-tooltip nzTitle="Extra information" nzType="info-circle"></i></ng-template>
            </div>
            <codebox [codeContent]="inputPrefixSuffixCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Format Tooltip Input</h4>
            <p>You can use the Input in conjunction with <a routerLink="/components/data-displat/tooltip">Tooltip</a> component to create a Numeric Input, which can provide a good experience for extra-long content display.</p>
            <div class="m-t-25">  
                <input
                    #inputElement
                    style="width: 150px"
                    nz-input
                    nz-tooltip
                    nzTrigger="focus"
                    nzPlacement="topLeft"
                    nzOverlayClassName="numeric-input"
                    [nzTitle]="title"
                    placeholder="Input a number"
                    [ngModel]="value"
                    (ngModelChange)="onChange($event)"
                    (blur)="onBlur()"
                />
            </div>
            <codebox [codeContent]="inputFormatTooltipCode"></codebox>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>With clear icon</h4>
            <p>Input with clear icon.</p>
            <div class="m-t-25">  
                <nz-input-group [nzSuffix]="withIconSuffixTemplate">
                    <input type="text" nz-input [(ngModel)]="inputWithIconValue" placeholder="input with clear icon" />
                </nz-input-group>
                <ng-template #withIconSuffixTemplate>
                    <i
                        nz-icon
                        nz-tooltip
                        class="ant-input-clear-icon"
                        nzTheme="fill"
                        nzType="close-circle"
                        *ngIf="inputWithIconValue"
                        (click)="inputWithIconValue = null"
                    ></i
                ></ng-template>
            </div>
            <codebox [codeContent]="inputWithClearIcon"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Password box</h4>
            <p>Input type of password.</p>
            <div class="m-t-25">  
                <nz-input-group [nzSuffix]="suffixTemplate">
                    <input
                        [type]="passwordVisible ? 'text' : 'password'"
                        nz-input
                        placeholder="input password"
                        [(ngModel)]="password"
                    />
                </nz-input-group>
                <ng-template #suffixTemplate>
                    <i class="pointer" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
            </div>
            <codebox [codeContent]="inputPasswordBox"></codebox>
        </nz-card>
    </div>
</div>
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nz-input]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <p>All props of input supported by <a href="https://www.w3schools.com/tags/tag_input.asp" target="_blank">w3c standards</a> and Angular can used in <code>nz-input</code>.</p>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>The size of the input box. Note: in the context of a form, the <code>large</code> size is used. Available: <code>large</code><code>default</code><code>small</code></td>
                    <td>string</td>
                    <td><code>default</code></td>
                </tr>
                <tr>
                    <td><code>[nzAutosize]</code></td>
                    <td>Only used for <code>textarea</code>, height autosize feature, can be set to <code>boolean</code> or an object <code>{{ '{' }} minRows: 2, maxRows: 6 {{ '}' }}</code></td>
                    <td>boolean丨<code>{{ '{' }} minRows: number, maxRows: number {{ '}' }}</code></td>
                    <td>false</td>
                </tr>
            </tbody>
        </table>
    </div>   
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-input-group</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzAddonAfter]</code></td>
                    <td>The label text displayed after (on the right side of) the input field.</td>
                    <td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzAddonBefore]</code></td>
                    <td>The label text displayed before (on the left side of) the input field.</td>
                    <td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzPrefix]</code></td>
                    <td>The prefix icon for the Input.</td>
                    <td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzSuffix]</code></td>
                    <td>The suffix icon for the Input.</td>
                    <td>string 丨 <code>TemplateRef&lt;void&gt;</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>[nzCompact]</code></td>
                    <td>Whether use compact style</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>The size of <code>nz-input-group</code> specifies the size of the included <code>nz-input</code> fields. Available: <code>large</code><code>default</code><code>small</code></td>
                    <td>string</td>
                    <td><code>default</code></td>
                </tr>
            </tbody>
        </table>
    </div> 
</nz-card>   
