<nz-card>
    <h4>Basic</h4>
    <p>Default activate first tab.</p>
    <div class="m-t-25">
        <nz-tabset>
            <nz-tab nzTitle="Tab 1">
                Content of Tab Pane 1
            </nz-tab>
            <nz-tab nzTitle="Tab 2">
                Content of Tab Pane 2
            </nz-tab>
            <nz-tab nzTitle="Tab 3">
                Content of Tab Pane 3
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsBasicCode"></codebox>
</nz-card>
<nz-card>
    <h4>Disabled</h4>
    <p>Disabled a tab.</p>
    <div class="m-t-25">
        <nz-tabset>
            <nz-tab
                *ngFor="let tab of tabsDisabled"
                [nzTitle]="tab.name"
                [nzDisabled]="tab.disabled">
                {{ tab.name }}
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsDisabledCode"></codebox>
</nz-card>
<nz-card>
    <h4>Icon</h4>
    <p>The Tab with Icon.</p>
    <div class="m-t-25">
        <nz-tabset>
            <nz-tab *ngFor="let tab of tabsIcon" [nzTitle]="titleTemplate">
                <ng-template #titleTemplate>
                    <i nz-icon [nzType]="tab.icon"></i>{{ tab.name }}
                </ng-template>
                {{ tab.name }}
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsIconCode"></codebox>
</nz-card>
<nz-card>
    <h4>Slide</h4>
    <p>Tab can be slide to left or right(up or down), which is used for a lot of tabs.</p>
    <div class="m-t-25">
        <nz-radio-group class="m-b-20" [(ngModel)]="tabsSlidePosition">
            <label nz-radio-button [nzValue]="'top'">Horizontal</label>
            <label nz-radio-button [nzValue]="'left'">Vertical</label>
        </nz-radio-group>
        <nz-input-number style="float:right;" [nzMin]="0" [nzMax]="10" [(ngModel)]="tabsSlideSelectedIndex"></nz-input-number>
        <nz-tabset
            style="height:220px;"
            [nzTabPosition]="tabsSlidePosition"
            [(nzSelectedIndex)]="tabsSlideSelectedIndex"
            (nzSelectChange)="tabsSlideLog([$event])">
            <nz-tab
                *ngFor="let tab of tabsSlide"
                [nzTitle]="tab.name"
                (nzSelect)="tabsSlideLog(['select',tab])"
                (nzClick)="tabsSlideLog(['click',tab])"
                (nzDeselect)="tabsSlideLog(['deselect',tab])">
                {{ tab.content }}
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsSlideCode"></codebox>
</nz-card>
<nz-card>
    <h4>Extra content</h4>
    <p>You can add extra actions to the right of Tabs.</p>
    <div class="m-t-25">
        <nz-tabset [nzTabBarExtraContent]="extraTemplate">
            <nz-tab *ngFor="let tab of tabsIndex" [nzTitle]="'Tab' + tab ">
            Content of tab {{ tab }}
            </nz-tab>
        </nz-tabset>
        <ng-template #extraTemplate>
            <button nz-button>Extra Action</button>
        </ng-template>
    </div>
    <codebox [codeContent]="tabsExtraContentCode"></codebox>
</nz-card>
<nz-card>
    <h4>Size</h4>
    <p>Large size tabs are usally used in page header, and small size could be used in Modal.</p>
    <div class="m-t-25">
        <nz-radio-group class="m-b-20" [(ngModel)]="tabSize">
            <label nz-radio-button nzValue="small"><span>Small</span></label>
            <label nz-radio-button nzValue="default"><span>Default</span></label>
            <label nz-radio-button nzValue="large"><span>Large</span></label>
        </nz-radio-group>
        <nz-tabset [nzSize]="tabSize">
            <nz-tab *ngFor="let tab of tabsIndex" [nzTitle]="'Tab' + tab">
            Content of tab {{ tab }}
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsSizeCode"></codebox>
</nz-card>
<nz-card>
    <h4>Position</h4>
    <p>Tab's position: left, right, top or bottom.</p>
    <div class="m-t-25">
        <div class="m-b-20">
            Tab position：
            <nz-select [(ngModel)]="tabsPosition" style="width: 80px;">
                <nz-option
                    *ngFor="let option of tabOptions"
                    [nzLabel]="option.label"
                    [nzValue]="option.value">
                </nz-option>
            </nz-select>
        </div>
        <nz-tabset [nzTabPosition]="tabsPosition" [nzType]="'line'">
            <nz-tab *ngFor="let tab of tabsIndex" [nzTitle]="'Tab'+ tab">
                Content of tab {{ tab }}
            </nz-tab>
        </nz-tabset> 
    </div>
    <codebox [codeContent]="tabsPositionCode"></codebox>
</nz-card>
<nz-card>
    <h4>Card type tab</h4>
    <p>Another type Tabs, which doesn't support vertical mode.</p>
    <div class="m-t-25">
        <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
            <nz-tab *ngFor="let tab of tabsIndex" [nzTitle]="'Tab' + tab ">
                Content of Tab Pane {{ tab }}
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsCardTypeCode"></codebox>
</nz-card>
<nz-card>
    <h4>Customized trigger of new tab</h4>
    <p>Bind event for customized trigger.</p>
    <div class="m-t-25">
        <div class="m-b-15">
            <button nz-button (click)="tabCustomizedNewTab()">ADD</button>
        </div>
        <nz-tabset [nzType]="'card'" [nzSelectedIndex]="tabCustomizedIndex">
            <nz-tab *ngFor="let tab of tabCustomized" [nzTitle]="titleTemplate">
                <ng-template #titleTemplate>
                    <div>{{ tab }}<i nz-icon nzType="close" class="ant-tabs-close-x" (click)="tabCustomizedCloseTab(tab)"></i></div>
                </ng-template>
                Content of {{ tab }}
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsCustomizedCode"></codebox>
</nz-card>
<nz-card>
    <h4>LazyLoad</h4>
    <p>By default, the contents in <code>nz-tab</code> are eagerly loaded. Tab contents can be lazy loaded by declaring the body in a <code>ng-template</code> with the <code>[nz-tab]</code> attribute.</p>
    <div class="m-t-25">
        <nz-tabset>
            <nz-tab nzTitle="Tab Eagerly 1">
                eagerly
            </nz-tab>
            <nz-tab nzTitle="Tab Eagerly 2">
                eagerly
            </nz-tab>
            <nz-tab nzTitle="Tab Lazy 1">
                Lazy
            </nz-tab>
            <nz-tab nzTitle="Tab Lazy 2">
                Lazy
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsLazyCode"></codebox>
</nz-card>
<nz-card>
    <h4>With Router</h4>
    <p>Link with router.</p>
    <div class="m-t-25">
        <nz-tabset nzLinkRouter>
            <nz-tab>
                <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'one' }" queryParamsHandling="merge">Default</a>
                Default.
            </nz-tab>
            <nz-tab>
                <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'two' }" queryParamsHandling="merge">Two</a>
                Two.
            </nz-tab>
            <nz-tab>
                <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'three' }" queryParamsHandling="merge">Three</a>
                Three.
            </nz-tab>
            <nz-tab>
                <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'four' }" queryParamsHandling="merge">Four</a>
                Four.
            </nz-tab>
        </nz-tabset>
    </div>
    <codebox [codeContent]="tabsRouterCode"></codebox>
</nz-card>
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-tabset</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzSelectedIndex]</code></td>
                    <td>Current tab's index</td>
                    <td>number</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzAnimated]</code></td>
                    <td>Whether to change tabs with animation. Only works while <code>nzTabPosition="top"｜"bottom"</code></td>
                    <td>boolean ｜ {{ '{' }}inkBar:boolean, tabPane:boolean{{ '}' }}</td>
                    <td><code>true</code>, <code>false</code> when <code>type="card"</code></td>
                </tr>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>preset tab bar size</td>
                    <td><code>large</code> ｜ <code>default</code> ｜ <code>small</code></td>
                    <td><code>default</code></td>
                </tr>
                <tr>
                    <td><code>[nzTabBarExtraContent]</code></td>
                    <td>Extra content in tab bar</td>
                    <td><code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzTabBarStyle]</code></td>
                    <td>Tab bar style object</td>
                    <td>object</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzTabPosition]</code></td>
                    <td>Position of tabs</td>
                    <td><code>top</code> ｜ <code>right</code> ｜ <code>bottom</code> ｜ <code>left</code></td>
                    <td><code>top</code></td>
                </tr>
                <tr>
                    <td><code>[nzType]</code></td>
                    <td>Basic style of tabs</td>
                    <td><code>line</code> ｜ <code>card</code></td>
                    <td><code>line</code></td>
                </tr>
                <tr>
                    <td><code>[nzTabBarGutter]</code></td>
                    <td>The gap between tabs</td>
                    <td>number</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzHideAll]</code></td>
                    <td>Whether hide all tabs</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzShowPagination]</code></td>
                    <td>Whether show pre or next button when exceed display area</td>
                    <td>boolean</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><code>[nzLinkRouter]</code></td>
                    <td>Link with Angular router. It supports child mode and query param mode</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td><code>(nzSelectedIndexChange)</code></td>
                    <td>Current tab's index change callback</td>
                    <td><code>EventEmitter&lt;number&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzSelectChange)</code></td>
                    <td>Current tab's change callback</td>
                    <td><code>EventEmitter&lt;{{ '{' }}nzSelectedIndex: number,tab: NzTabComponent{{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnNextClick)</code></td>
                    <td>Callback executed when next button is clicked</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnPrevClick)</code></td>
                    <td>Callback executed when prev button is clicked</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-tab</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzTitle]</code></td>
                    <td>Show text in tab's head</td>
                    <td><code>string | TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzForceRender]</code></td>
                    <td>Forced render of content in tabs, not lazy render after clicking on tabs</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>tab disable</td>
                    <td><code>boolean</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzClick)</code></td>
                    <td>title click callback</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzSelect)</code></td>
                    <td>title select callback</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzDeselect)</code></td>
                    <td>title deselect callback</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nz-tab]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <p>Tab contents can be lazy loaded by declaring the body in a <code>ng-template</code> with the <code>[nz-tab]</code> attribute.</p>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-tab-link</span>
            <label class="api-type-label component">component</label>
        </h5>
        <p>Show a link in tab's head. Used in router link mode.</p>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">Link Router</span>
            <label class="api-type-label component">component</label>
        </h5>
        <p>This make the tabs component changes <code>nzSelectedIndex</code> with Angular route. You must use <code>nz-tab-link</code> instead of <code>[nzTitle]</code> in this situation.</p>
    </div>
</nz-card>    