<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic Usage</h4>
            <p>A simple loading status.</p>
            <div class="m-t-25">
                <nz-spin></nz-spin>
            </div>
            <codebox [codeContent]="spinBasicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Inside a container</h4>
            <p>Spin in a container.</p>
            <div class="m-t-25">
                <div class="bg-gray-lightest p-30 text-center">
                    <nz-spin></nz-spin>
                </div>
            </div>
            <codebox [codeContent]="spinInsideContainerCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Customized description</h4>
            <p>Customized description content.</p>
            <div class="m-t-25">
                <nz-spin nzTip='Loading...'>
                    <nz-alert
                        nzType="info"
                        nzMessage="Alert message title"
                        nzDescription="Further details about the context of this alert.">
                    </nz-alert>
                </nz-spin>
            </div>
            <codebox [codeContent]="spinCustomizeDescriptionCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Custom spinning indicator</h4>
            <p>Use custom loading indicator.</p>
            <div class="m-t-25">
                <ng-template #indicatorTemplate><i nz-icon nzType="loading" class="font-size-24"></i>
                </ng-template>
                <nz-spin [nzIndicator]="indicatorTemplate">
                </nz-spin>
            </div>
            <codebox [codeContent]="spinCustomizeSpiningCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Size</h4>
            <p>A small <code>Spin</code> use in loading text, default <code>Spin</code> use in loading card-level block, and large <code>Spin</code> use in loading <strong>page</strong>.</p>
            <div class="m-t-25">
                <nz-spin nzSimple class="m-r-20 d-inline-block" [nzSize]="'small'"></nz-spin>
                <nz-spin nzSimple class="m-r-20 d-inline-block"></nz-spin>
                <nz-spin nzSimple class="m-r-20 d-inline-block" [nzSize]="'large'"></nz-spin>
            </div>
            <codebox [codeContent]="spinSizeCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Embedded mode</h4>
            <p>Embedding content into <code>Spin</code> will alter it into loading state.</p>
            <div class="m-t-25">
                <nz-spin [nzSpinning]="embeddedSpinning">
                    <nz-alert [nzType]="'info'" [nzMessage]="'Alert message title'" [nzDescription]="'Further details about the context of this alert.'">
                    </nz-alert>
                </nz-spin>
                <div class="m-t-20">
                    Loading state：
                    <nz-switch [(ngModel)]="embeddedSpinning"></nz-switch>
                </div>
            </div>
            <codebox [codeContent]="spinEmbeddedModeCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Delay</h4>
            <p>Specifies a delay for loading state. If <code>spinning</code> ends during delay, loading status won't appear.</p>
            <div class="m-t-25">
                <nz-spin [nzSpinning]="delaySpinning" [nzDelay]="500">
                    <nz-alert [nzType]="'info'" [nzMessage]="'Alert message title'" [nzDescription]="'Further details about the context of this alert.'">
                    </nz-alert>
                </nz-spin>
                <div class="m-t-20">
                    Loading state：
                    <nz-switch [(ngModel)]="delaySpinning"></nz-switch>
                </div>
            </div>
            <codebox [codeContent]="spinDelayCode"></codebox>
        </nz-card>
    </div>
</div>        
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-spin</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzDelay]</code></td>
                    <td>specifies a delay in milliseconds for loading state (prevent flush), unit: milliseconds</td>
                    <td><code>number</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzIndicator]</code></td>
                    <td>the spinning indicator</td>
                    <td><code>TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>size of Spin</td>
                    <td><code>'large' | 'small' | 'default'</code></td>
                    <td><code>'default'</code></td>
                </tr>
                <tr>
                    <td><code>[nzSpinning]</code></td>
                    <td>whether Spin is spinning</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzSimple]</code></td>
                    <td>whether Spin has no children</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzTip]</code></td>
                    <td>customize description content when Spin has children</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card>
        