<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic</h4>
            <p>Three sizes and two shapes are available.</p>
            <div class="m-t-25">
                <div class="m-b-25">
                    <nz-avatar [nzSize]="64" nzIcon="user" class="m-r-10"></nz-avatar>
                    <nz-avatar nzSize="large" nzIcon="user" class="m-r-10"></nz-avatar>
                    <nz-avatar nzIcon="user" class="m-r-10"></nz-avatar>
                    <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
                </div>
                <div class="m-b-25">
                    <nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'user'" class="m-r-10"></nz-avatar>
                    <nz-avatar [nzShape]="'square'" [nzSize]="'large'" [nzIcon]="'user'" class="m-r-10"></nz-avatar>
                    <nz-avatar [nzShape]="'square'" [nzIcon]="'user'" class="m-r-10"></nz-avatar>
                    <nz-avatar [nzShape]="'square'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>
                </div>
            </div>
            <codebox [codeContent]="avatarBasicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Autoset Font Size</h4>
            <p>For letter type Avatar, when the letters are too long to display, the font size can be automatically adjusted according to the width of the Avatar.</p>
            <div class="m-t-25">
                <nz-avatar [nzText]="text" nzSize="large" [ngStyle]="{'background-color':color}" style="vertical-align: middle;"></nz-avatar>
                <button nz-button [nzType]="'dashed'" (click)="change()" style="margin-left: 16px; vertical-align: middle;">
                    <span>Change</span>
                </button>
            </div>
            <codebox [codeContent]="avatarFontSizeCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Type</h4>
            <p>Image, Icon and letter are supported, and the latter two kinds avatar can have custom colors and background colors.</p>
            <div class="m-t-25">
                <nz-avatar class="m-r-10" nzIcon="user"></nz-avatar>
                <nz-avatar class="m-r-10" nzText="U"></nz-avatar>
                <nz-avatar class="m-r-10" nzText="USER"></nz-avatar>
                <nz-avatar class="m-r-10" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
                <nz-avatar class="m-r-10" nzText="U" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
                <nz-avatar class="m-r-10" nzIcon="user" style="background-color:#87d068;"></nz-avatar>
            </div>
            <codebox [codeContent]="avatarTypeCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>With Badge</h4>
            <p>Usually used for messages remind.</p>
            <div class="m-t-25">
                <nz-badge [nzCount]="5" class="m-r-25">
                    <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
                </nz-badge>
                <nz-badge nzDot>
                    <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
                </nz-badge>
            </div>
            <codebox [codeContent]="avatarBadgeCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Colorful Avatar</h4>
            <p>We preset a series of colorful Avatar style for different situation usage</p>
            <div class="m-t-25">
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-magenta"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-red"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-volcano"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-orange"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-gold"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-lime"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-green"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-cyan"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-blue"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-geekblue"></nz-avatar>
                <nz-avatar nzIcon="user" class="m-r-10 ant-avatar-purple"></nz-avatar>
            </div>
            <codebox [codeContent]="avatarColorfulCode"></codebox>
        </nz-card>
    </div>
</div>    
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-avatar</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzIcon]</code></td>
                    <td>the <code>Icon</code> type for an icon avatar, see <code>Icon</code></td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzShape]</code></td>
                    <td>the shape of avatar</td>
                    <td><code>'circle' | 'square'</code></td>
                    <td><code>'circle'</code></td>
                </tr>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>the size of the avatar</td>
                    <td><code>'large' | 'small' | 'default' | number</code></td>
                    <td><code>'default'</code></td>
                </tr>
                <tr>
                    <td><code>[nzSrc]</code></td>
                    <td>the address of the image for an image avatar</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzSrcSet]</code></td>
                    <td>a list of sources to use for different screen resolutions</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzAlt]</code></td>
                    <td>This attribute defines the alternative text describing the image</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzText]</code></td>
                    <td>letter type avatar</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card> 