<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic</h4>
            <p>The most basic usage, tell you how to use checkable, selectable, disabled, defaultExpandKeys, and etc.</p>
            <div class="m-t-25">
                <nz-tree
                    #basicTreeCom
                    [nzData]="treeBasicNodes"
                    nzCheckable="true"
                    nzMultiple="true"
                    [nzCheckedKeys]="treeBasicCheckedKeys"
                    [nzExpandedKeys]="treeBasicExpandedKeys"
                    [nzSelectedKeys]="treeBasicSelectedKeys"
                    (nzClick)="treeBasicClick($event)"
                    (nzCheckBoxChange)="treeBasicCheck($event)">
                </nz-tree>
            </div>
            <codebox [codeContent]="treeBasicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Draggable</h4>
            <p>Drag treeNode to insert after the other treeNode or insert into the other parent TreeNode.</p>
            <div class="m-t-25">
                <nz-tree
                    [nzData]="treeNodes"
                    nzDraggable="true"
                    (nzOnDragStart)="treeEvent($event)"
                    (nzOnDragEnter)="treeEvent($event)"
                    (nzOnDragLeave)="treeEvent($event)"
                    (nzOnDrop)="treeEvent($event)"
                    (nzOnDragEnd)="treeEvent($event)">
                </nz-tree>
            </div>
            <codebox [codeContent]="treeDraggableCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Load data asynchronously</h4>
            <p>To load data asynchronously when click to expand a treeNode.</p>
            <div class="m-t-25">
                <nz-tree
                    [nzData]="treeLoadDataNodes"
                    nzAsyncData="true"
                    (nzClick)="treeLoadDataEvent($event)"
                    (nzExpandChange)="treeLoadDataEvent($event)">
                </nz-tree>
            </div>
            <codebox [codeContent]="treeLoadDataCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Tree With Line</h4>
            <p>Tree With Line</p>
            <div class="m-t-25">
                <nz-tree
                    [nzData]="treeLineNodes"
                    nzShowLine="true"
                    (nzClick)="treeEvent($event)">
                </nz-tree>
            </div>
            <codebox [codeContent]="treeLineCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Directory</h4>
            <p>Customize directory tree(with nzTreeTemplate, supported contextmenu).</p>
            <div class="m-t-25 overflow-x-hidden">
                <nz-tree
                    #treeDirectoryCom
                    [nzData]="treeDirectoryNodes"
                    nzMultiple="true"
                    (nzClick)="activeNode($event)"
                    (nzDblClick)="openFolder($event)">
                    <ng-template #contextTemplate>
                        <ul nz-menu nzInDropDown>
                            <li nz-menu-item (click)="selectDropdown('file')">New File</li>
                            <li nz-menu-item (click)="selectDropdown('folder')">New Folder</li>
                        </ul>
                    </ng-template>
                    <ng-template #nzTreeTemplate let-node>
                        <span class="custom-node" [class.active]="activedNode?.key===node.key">
                        <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event,contextTemplate)">
                            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
                            <span class="folder-name">{{node.title}}</span>
                            <span class="folder-desc">created by {{node?.origin?.author | lowercase}}</span>
                        </span>
                        <span *ngIf="node.isLeaf">
                            <i nz-icon nzType="file"></i>
                            <span class="file-name">{{node.title}}</span>
                            <span class="file-desc">modified by {{node?.origin?.author | lowercase}}</span>
                        </span>
                        </span>
                    </ng-template>
                </nz-tree>
            </div>
            <codebox [codeContent]="treeDirectoryCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Basic controlled</h4>
            <p>basic controlled example.</p>
            <div class="m-t-25">
                <nz-tree
                    [nzData]="treeNodes"
                    nzCheckable="true"
                    nzMultiple="true"
                    [nzCheckedKeys]="treeBasicControlledCheckedKeys"
                    [nzExpandedKeys]="treeBasicControlledExpandedKeys"
                    [nzSelectedKeys]="treeBasicControlledSelectedKeys"
                    (nzClick)="treeEvent($event)"
                    (nzExpandChange)="treeEvent($event)"
                    (nzCheckBoxChange)="treeEvent($event)">
                </nz-tree>
            </div>
            <codebox [codeContent]="treeBasicControlledCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Draggable-with-two-confirmation</h4>
            <p>nzBeforeDrop: Validate before drop event, for example: only allow to drag inside(delay 1s)、 validate using modal .etc.</p>
            <div class="m-t-25">
                <nz-tree
                    [nzData]="treeDraggableConfirmationNodes"
                    nzDraggable="true"
                    (nzExpandChange)="treeEvent($event)"
                    [nzBeforeDrop]="treeDraggableConfirmationBeforeDrop"
                    (nzOnDragStart)="treeEvent($event)"
                    (nzOnDragEnter)="treeEvent($event)"
                    (nzOnDragLeave)="treeEvent($event)"
                    (nzOnDrop)="treeEvent($event)"
                    (nzOnDragEnd)="treeEvent($event)">
                </nz-tree>
            </div>
            <codebox [codeContent]="treeDraggableConfirmationCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Searchable</h4>
            <p>Searchable Tree.</p>
            <div class="m-t-25">
                <nz-input-group class="m-b-20" [nzSuffix]="suffixIcon">
                    <input type="text" nz-input placeholder="Search" [(ngModel)]="treeSearchValue">
                </nz-input-group>
                <ng-template #suffixIcon>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <nz-tree
                    #treeSearchCom
                    [nzData]="treeSearchNodes"
                    [nzSearchValue]="treeSearchValue"
                    (nzClick)="treeSearchEvent($event)"
                    (nzExpandChange)="treeSearchEvent($event)"
                    (nzSearchValueChange)="treeSearchEvent($event)">
                </nz-tree>
            </div>
            <codebox [codeContent]="treeSearchableCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Customize Icon</h4>
            <p>You can customize icons for different nodes.</p>
            <div class="m-t-25">
                <nz-tree
                    [nzData]="treeIconNodes"
                    nzShowIcon="true">
                </nz-tree>
            </div>
            <codebox [codeContent]="treeIconCode"></codebox>
        </nz-card>
    </div>
</div>    
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-tree</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[ngModel]</code></td>
                    <td>Tree data(nzData instead)</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td><code>[nzDefaultExpandAll]</code></td>
                    <td>Whether to expand all treeNodes <font color="red"><code>Deprecated</code></font></td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzDefaultExpandedKeys]</code></td>
                    <td>Specify the keys of the default expanded treeNodes <font color="red"><code>Deprecated</code></font></td>
                    <td>string[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td><code>[nzDefaultCheckedKeys]</code></td>
                    <td>Specifies the keys of the default checked treeNodes <font color="red"><code>Deprecated</code></font></td>
                    <td>string[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td><code>[nzDefaultSelectedKeys]</code></td>
                    <td>Specifies the keys of the default selected treeNodes <font color="red"><code>Deprecated</code></font></td>
                    <td>string[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td><code>[nzData]</code></td>
                    <td>Tree data (Reference NzTreeNode)</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td><code>[nzCheckable]</code></td>
                    <td>Adds a Checkbox before the treeNodes</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzShowExpand]</code></td>
                    <td>Show a Expand Icon before the treeNodes</td>
                    <td>boolean</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><code>[nzShowLine]</code></td>
                    <td>Shows a connecting line</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzShowIcon]</code></td>
                    <td>Shows the icon before a TreeNode's title. There is no default style</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzAsyncData]</code></td>
                    <td>Load data asynchronously (should be used with NzTreeNode.addChildren(...))</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzDraggable]</code></td>
                    <td>Specifies whether this Tree is draggable (IE &gt; 8)</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzMultiple]</code></td>
                    <td>Allows selecting multiple treeNodes</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzCheckStrictly]</code></td>
                    <td>Check treeNode precisely; parent treeNode and children treeNodes are not associated</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzExpandAll]</code></td>
                    <td>Whether to expand all treeNodes</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzExpandedKeys]</code></td>
                    <td>Specify the keys of the default expanded treeNodes, two-way binding</td>
                    <td>string[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td><code>[nzCheckedKeys]</code></td>
                    <td>Specifies the keys of the default checked treeNodes, two-way binding</td>
                    <td>string[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td><code>[nzSelectedKeys]</code></td>
                    <td>Specifies the keys of the default selected treeNodes, two-way binding</td>
                    <td>string[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td><code>[nzSearchValue]</code></td>
                    <td>Filter (highlight) treeNodes (see demo <code>Searchable</code>), two-way binding</td>
                    <td>string</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td><code>[nzBeforeDrop]</code></td>
                    <td>Drop before the second check, allowing the user to decide whether to allow placement</td>
                    <td><code>(confirm: NzFormatBeforeDropEvent) =&gt; Observable&lt;boolean&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzClick)</code></td>
                    <td>Callback function for when the user clicks a treeNode</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzDblClick)</code></td>
                    <td>Callback function for when the user double clicks a treeNode</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzContextMenu)</code></td>
                    <td>Callback function for when the user right clicks a treeNode</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzCheckBoxChange)</code></td>
                    <td>Callback function for when user clicks the Checkbox</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzExpandChange)</code></td>
                    <td>Callback function for when a treeNode is expanded or collapsed</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzSearchValueChange)</code></td>
                    <td>Callback function for when filter treeNodes(used with nzSearchValue)</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnDragStart)</code></td>
                    <td>Callback function for when the onDragStart event occurs</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnDragEnter)</code></td>
                    <td>Callback function for when the onDragEnter event occurs</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnDragOver)</code></td>
                    <td>Callback function for when the onDragOver event occurs</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnDragLeave)</code></td>
                    <td>Callback function for when the onDragLeave event occurs</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnDrop)</code></td>
                    <td>Callback function for when the onDrop event occurs</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOnDragEnd)</code></td>
                    <td>Callback function for when the onDragEnd event occurs</td>
                    <td>EventEmitter&lt;NzFormatEmitEvent&gt;</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">Methods</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>getTreeNodes</td>
                    <td>get all nodes(NzTreeNode)</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>getCheckedNodeList</td>
                    <td>get checked nodes(merged)</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>getSelectedNodeList</td>
                    <td>get selected nodes</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>getHalfCheckedNodeList</td>
                    <td>get half checked nodes</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>getExpandedNodeList</td>
                    <td>get expanded nodes</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>getMatchedNodeList</td>
                    <td>get matched nodes(if nzSearchValue is not null)</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
            </tbody>
        </table>
    </div> 
    <hr>   
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzTreeNodeOptions props</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>title</td>
                    <td>Title</td>
                    <td>string</td>
                    <td>'---'</td>
                </tr>
                <tr>
                    <td>key</td>
                    <td>Must be unique！</td>
                    <td>string</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>children</td>
                    <td>TreeNode's children</td>
                    <td>NzTreeNodeOptions[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>isLeaf</td>
                    <td>Determines if this is a leaf node(can not be dropped to)</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>checked</td>
                    <td>Set the treeNode be checked</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>selected</td>
                    <td>Set the treeNode be selected</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>expanded</td>
                    <td>Set the treeNode be expanded ()</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>selectable</td>
                    <td>Set whether the treeNode can be selected</td>
                    <td>boolean</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td>disabled</td>
                    <td>Disables the treeNode</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td>disableCheckbox</td>
                    <td>Disables the checkbox of the treeNode</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
            </tbody>
        </table>
    </div>    
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzFormatEmitEvent props</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>eventName</td>
                    <td>Event Name</td>
                    <td>enum: <code>click</code><code>dblclick</code><code>contextmenu</code><code>check</code><code>expand</code><code>search</code> &amp; <code>dragstart</code><code>dragenter</code><code>dragover</code><code>dragleave</code><code>drop</code><code>dragend</code></td>
                    <td>''</td>
                </tr>
                <tr>
                    <td>node</td>
                    <td>The current operation node (such as the target node to drop while dragging)</td>
                    <td>NzTreeNode</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>event</td>
                    <td>MouseEvent or DragEvent</td>
                    <td>enum: <code>MouseEvent</code><code>DragEvent</code></td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>dragNode?</td>
                    <td>Current drag node (existing if dragged)</td>
                    <td>NzTreeNode</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>selectedKeys?</td>
                    <td>Selected nodes list</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>checkedKeys?</td>
                    <td>Checked nodes list</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>matchedKeys?</td>
                    <td>Matched keys list while searching</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>keys?</td>
                    <td>All nodes's keys list related event(except drag events)</td>
                    <td>string[]</td>
                    <td>[]</td>
                </tr>
                <tr>
                    <td>nodes?</td>
                    <td>All nodes related event(except drag events)</td>
                    <td>NzTreeNode[]</td>
                    <td>[]</td>
                </tr>
            </tbody>
        </table>
    </div>    
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzFormatBeforeDropEvent props</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>dragNode</td>
                    <td>Current drag node (existing when dragged)</td>
                    <td>NzTreeNode</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>node</td>
                    <td>The current operation node (such as the target node to drop while dragging)</td>
                    <td>NzTreeNode</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>pos</td>
                    <td>position to drop(-1: before the target node, 0: inside the target node, 1: behind the target node)</td>
                    <td>number</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>  
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzTreeNode props</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>title</td>
                    <td>Title</td>
                    <td>string</td>
                    <td>NzTreeNodeOptions.title</td>
                </tr>
                <tr>
                    <td>key</td>
                    <td>Key</td>
                    <td>string</td>
                    <td>NzTreeNodeOptions.key</td>
                </tr>
                <tr>
                    <td>level</td>
                    <td>TreeNode's level relative to the root node</td>
                    <td>number</td>
                    <td>number</td>
                </tr>
                <tr>
                    <td>children</td>
                    <td>Children</td>
                    <td>array&lt;NzTreeNode&gt;</td>
                    <td>array&lt;NzTreeNode&gt;</td>
                </tr>
                <tr>
                    <td>origin</td>
                    <td>treeNode's raw data of NzTreeNodeOptions(user provided to show more datas)</td>
                    <td>NzTreeNodeOptions</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>getParentNode</td>
                    <td>Get parentNode</td>
                    <td>function</td>
                    <td><code>NzTreeNode</code> / <code>null</code></td>
                </tr>
                <tr>
                    <td>isLeaf</td>
                    <td>Whether treeNode is a Leaf Node</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isExpanded</td>
                    <td>Whether treeNode is expanded</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isDisabled</td>
                    <td>Whether treeNode is disabled</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isDisableCheckbox</td>
                    <td>Whether treeNode's checkbox can not be clicked</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isSelectable</td>
                    <td>Set whether the treeNode can be selected</td>
                    <td>boolean</td>
                    <td><code>true</code> 或 <code>false</code></td>
                </tr>
                <tr>
                    <td>isChecked</td>
                    <td>Whether treeNode is checked</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isAllChecked</td>
                    <td>Whether all treeNode's children are checked</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isHalfChecked</td>
                    <td>Part of treeNode's children are checked</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isSelected</td>
                    <td>Whether treeNode is selected</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isLoading</td>
                    <td>Whether treeNode is loading(when nzAsyncData is true)</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>isMatched</td>
                    <td>Whether treeNode's title contains nzSearchValue</td>
                    <td>boolean</td>
                    <td><code>true</code> / <code>false</code></td>
                </tr>
                <tr>
                    <td>getChildren</td>
                    <td>Get all children</td>
                    <td>function</td>
                    <td>NzTreeNode[]</td>
                </tr>
                <tr>
                    <td>addChildren</td>
                    <td>Add child nodes, receive NzTreeNode or NzTreeNodeOptions array, the second parameter is the inserted index position</td>
                    <td>(children: array, index?: number )=&gt;{{ '{' }}{{ '}' }}</td>
                    <td>void</td>
                </tr>
                <tr>
                    <td>clearChildren</td>
                    <td>clear the treeNode's children</td>
                    <td>function</td>
                    <td>void</td>
                </tr>
                <tr>
                    <td>setChecked</td>
                    <td>set isChecked &amp; isHalfChecked state，params: checked , halfChecked</td>
                    <td>(checked: boolean, halfChecked: boolean=false)=&gt;{{ '{' }}{{ '}' }}</td>
                    <td>void</td>
                </tr>
                <tr>
                    <td>setExpanded</td>
                    <td>set isExpanded state</td>
                    <td>(value: boolean)=&gt;{{ '{' }}{{ '}' }}</td>
                    <td>void</td>
                </tr>
                <tr>
                    <td>setSelected</td>
                    <td>set isSelected state</td>
                    <td>(value: boolean)=&gt;{{ '{' }}{{ '}' }}</td>
                    <td>void</td>
                </tr>
            </tbody>
        </table>
    </div>      
</nz-card>        