<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic</h4>
            <p>Basic drawer.</p>
            <div class="m-t-25">
                <button nz-button nzType="primary" (click)="drawerBasicOpen()">Open</button>
                <nz-drawer [nzClosable]="false" [nzVisible]="drawerBasicVisible" nzPlacement="right" nzTitle="Basic Drawer" (nzOnClose)="drawerBasicClose()">
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                </nz-drawer>
            </div>
            <codebox [codeContent]="drawerBasicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Edit item in drawer</h4>
            <p>A drawer containing an editable form which needs to be collapsed by clicking the close button.</p>
            <div class="m-t-25">
                <button nz-button nzType="primary" (click)="drawerEditItemOpen()">Create</button>
                <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"[nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="drawerEditItemVisible" nzTitle="Create" (nzOnClose)="drawerEditItemClose()">
                    <form nz-form>
                    <div nz-row nzGutter="8">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label>Name</nz-form-label>
                                <nz-form-control>
                                <input nz-input placeholder="please enter user name">
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label>Url</nz-form-label>
                                <nz-form-control>
                                <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
                                    <input type="text" nz-input placeholder="please enter url">
                                </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row nzGutter="8">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label>Owner</nz-form-label>
                                <nz-form-control>
                                <nz-select nzPlaceHolder="Please select an owner"></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label>Type</nz-form-label>
                                <nz-form-control>
                                <nz-select nzPlaceHolder="Please choose the type"></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row nzGutter="8">
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label>Approver</nz-form-label>
                                <nz-form-control>
                                <nz-select nzPlaceHolder="Please choose the approver"></nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="12">
                            <nz-form-item>
                                <nz-form-label>DateTime</nz-form-label>
                                <nz-form-control>
                                <nz-range-picker></nz-range-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row nzGutter="8">
                        <div nz-col nzSpan="24">
                            <nz-form-item>
                                <nz-form-label>Description</nz-form-label>
                                <nz-form-control>
                                <textarea nz-input placeholder="please enter url description" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    </form>
                    <div class="ant-drawer-footer text-right">
                        <button type="button" (click)="drawerEditItemClose()" nz-button class="m-r-10"><span>Cancel</span></button>
                        <button type="button" (click)="drawerEditItemClose()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
                    </div>
                </nz-drawer>
            </div>
            <codebox [codeContent]="drawerEditItemCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Multi-level drawer</h4>
            <p>Open a new drawer on top of an existing drawer to handle multi branch tasks</p>
            <div class="m-t-25">
                <button nz-button nzType="primary" (click)="drawerMultiLevelOpen()">New Cookbook</button>
                <nz-drawer [nzClosable]="false" [nzOffsetX]="childrenVisible ? 180 : 0" [nzWidth]="320" [nzVisible]="drawerMultiLevelVisible" nzTitle="Cookbook" (nzOnClose)="drawerMultiLevelClose()">
                    <form nz-form>
                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <nz-form-item>
                                    <nz-form-label>Name</nz-form-label>
                                    <nz-form-control>
                                        <input nz-input placeholder="please enter cookbook name">
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-row>
                            <div nz-col nzSpan="24">
                                <nz-form-item>
                                    <nz-form-label>Food</nz-form-label>
                                    <nz-form-control>
                                        <nz-tag>potato</nz-tag>
                                        <nz-tag>eggplant</nz-tag>
                                        <nz-tag (click)="openChildren()">+</nz-tag>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </form>
                    <div class="ant-drawer-footer text-right">
                        <button type="button" (click)="drawerMultiLevelClose()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
                        <button type="button" (click)="drawerMultiLevelClose()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
                    </div>
                    <nz-drawer [nzClosable]="false" [nzVisible]="childrenVisible" nzTitle="Food" (nzOnClose)="closeChildren()">
                        <nz-list [nzDataSource]="vegetables" [nzRenderItem]="drawerMultiLevelItem">
                            <ng-template #drawerMultiLevelItem let-item>
                                <nz-list-item [nzContent]="item"></nz-list-item>
                            </ng-template>
                        </nz-list>
                    </nz-drawer>
                </nz-drawer>
            </div>
            <codebox [codeContent]="drawerMultiLevelCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Custom Placement</h4>
            <p>Basic drawer.</p>
            <div class="m-t-25">
                <nz-radio-group [(ngModel)]="drawerPlacement">
                    <label nz-radio nzValue="top">top</label>
                    <label nz-radio nzValue="right">right</label>
                    <label nz-radio nzValue="bottom">bottom</label>
                    <label nz-radio nzValue="left">left</label>
                </nz-radio-group>
                <button nz-button nzType="primary" (click)="drawerPlacementOpen()">Open</button>
                <nz-drawer [nzClosable]="false" [nzVisible]="drawerPlacmentVisible" [nzPlacement]="drawerPlacement" nzTitle="Basic Drawer" (nzOnClose)="drawerPlacementClose()">
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                    <p>Some contents...</p>
                </nz-drawer>
            </div>
            <codebox [codeContent]="drawerCustomPlacementCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Preview drawer</h4>
            <p>Use when you need to quickly preview the outline of the object. Such as list item preview.</p>
            <div class="m-t-25">
                <nz-list [nzDataSource]="drawerPreviewData" [nzRenderItem]="drawerPreviewItem" [nzItemLayout]="'horizontal'">
                    <ng-template #drawerPreviewItem let-item>
                        <nz-list-item [nzActions]="[viewAction]">
                            <ng-template #viewAction>
                                <a (click)="drawerPreviewOpen()">View Profile</a>
                            </ng-template>
                            <nz-list-item-meta
                                [nzTitle]="nzTitle"
                                nzAvatar="https://gw.alipayobjects.com/zos/rmsportal/BiazfanxmamNRoxxVxka.png"
                                nzDescription="Progresser AFX">
                                <ng-template #nzTitle>
                                    <a href="https://ng.ant.design">{{item.name}}</a>
                                </ng-template>
                            </nz-list-item-meta>
                        </nz-list-item>
                    </ng-template>
                </nz-list>
                <nz-drawer [nzVisible]="drawerPreviewVisible" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="drawerPreviewClose()">
                    <h3 class="m-b-25">User Profile</h3>
                    <h4 class="text-dark m-b-25">Personal</h4>
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Full Name:</span> 
                                <span class="opacity-07">Lily</span>
                            </p>
                        </div>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Account:</span> 
                                <span class="opacity-07">AntDesign@example.com</span>
                            </p>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">City:</span> 
                                <span class="opacity-07">HangZhou</span>
                            </p>
                        </div>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Country:</span> 
                                <span class="opacity-07">China🇨🇳</span>
                            </p>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Birthday:</span> 
                                <span class="opacity-07">February 2,1900</span>
                            </p>
                        </div>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Website:</span> 
                                <span class="opacity-07">-</span>
                            </p>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Message:</span>
                                <span class="opacity-07">Make things as simple as possible but no simpler.</span>
                            </p>
                        </div>
                    </div>
                    <nz-divider></nz-divider>
                    <h4 class="text-dark m-b-25">Company</h4>
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Position:</span>
                                <span class="opacity-07">Programmer</span>
                            </p>
                        </div>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Responsibilities:</span>
                                <span class="opacity-07">Coding</span>
                            </p>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Department:</span>
                                <span class="opacity-07">AFX</span>
                            </p>
                        </div>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Supervisor:</span>
                                <span class="opacity-07">Lin</span>
                            </p>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <div class="item-wrap">
                                <p class="text-dark">
                                    <span class="m-r-10 font-weight-semibold">Skills:</span>
                                    <span class="opacity-07">C / C + +, data structures, software engineering, operating systems, computer networks, databases, compiler theory, computer architecture, Microcomputer Principle and Interface Technology, Computer English, Java, ASP, etc.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <nz-divider></nz-divider>
                    <h4 class="text-dark m-b-25">Contacts</h4>
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Email:</span>
                                <span class="opacity-07">AntDesign@example.com</span>
                            </p>
                        </div>
                        <div nz-col nzSpan="12">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Phone Number:</span> 
                                <span class="opacity-07">+86 181 0000 0000</span>
                            </p>
                        </div>
                    </div>
                    <div nz-row>
                        <div nz-col nzSpan="24">
                            <p class="text-dark">
                                <span class="m-r-10 font-weight-semibold">Github:</span>
                                <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank">github.com/NG-ZORRO/ng-zorro-antd</a>
                            </p>
                        </div>
                    </div>
                </nz-drawer>
            </div>
            <codebox [codeContent]="drawerPreviewCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Drawer's service</h4>
            <p>Usage of Drawer's service, examples demonstrate user-defined templates, custom components.</p>
            <p><span class="text-dark font-weight-semibold">NOTE</span>  If you use Component mode, you need to add your custom Component into <code>declarations</code> and <code>entryComponents</code> for a <code>NgModule</code></p>
            <div class="m-t-25">
                <ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
                    value: {{data?.value}}
                    <br>
                    <button nz-button nzType="primary" (click)="drawerRef.close()">close</button>
                </ng-template>
                <div nz-form>
                    <nz-form-item>
                        <input nz-input [(ngModel)]="value">
                    </nz-form-item>
                </div>
                <button nz-button nzType="primary" (click)="openTemplate()">Use Template</button>&nbsp;
                <button nz-button nzType="primary" (click)="openComponent()">Use Component</button>
            </div>
            <codebox [codeContent]="drawerServiceCode"></codebox>
        </nz-card>
    </div>
</div>        
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-drawer</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Props</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzClosable]</code></td>
                    <td>Whether a close (x) button is visible on top right of the Drawer dialog or not.</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzMask]</code></td>
                    <td>Whether to show mask or not.</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzMaskClosable]</code></td>
                    <td>Clicking on the mask (area outside the Drawer) to close the Drawer or not.</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzMaskStyle]</code></td>
                    <td>Style for Drawer's mask element.</td>
                    <td><code>object</code></td>
                    <td><code>{{ '{' }}{{ '}' }}</code></td>
                </tr>
                <tr>
                    <td><code>[nzBodyStyle]</code></td>
                    <td>Body style for drawer body element. Such as height, padding etc.</td>
                    <td><code>object</code></td>
                    <td><code>{{ '{' }}{{ '}' }}</code></td>
                </tr>
                <tr>
                    <td><code>[nzTitle]</code></td>
                    <td>The title for Drawer.</td>
                    <td><code>string</code><code>TemplateRef&lt;{{ '{' }}{{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzVisible]</code></td>
                    <td>Whether the Drawer dialog is visible or not.</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzPlacement]</code></td>
                    <td>The placement of the Drawer.</td>
                    <td><code>'top'</code><code>'right'</code><code>'bottom'</code><code>'left'</code></td>
                    <td><code>'right'</code></td>
                </tr>
                <tr>
                    <td><code>[nzWidth]</code></td>
                    <td>Width of the Drawer dialog, only when placement is <code>'right'</code> or <code>'left'</code>.</td>
                    <td><code>number</code><code>string</code></td>
                    <td><code>256</code></td>
                </tr>
                <tr>
                    <td><code>[nzHeight]</code></td>
                    <td>Height of the Drawer dialog, only when placement is <code>'top'</code> or <code>'bottom'</code>.</td>
                    <td><code>number</code><code>string</code></td>
                    <td><code>256</code></td>
                </tr>
                <tr>
                    <td><code>[nzOffsetX]</code></td>
                    <td>The the X coordinate offset(px), only when placement is <code>'right'</code> or <code>'left'</code>.</td>
                    <td><code>number</code></td>
                    <td><code>0</code></td>
                </tr>
                <tr>
                    <td><code>[nzOffsetY]</code></td>
                    <td>The the Y coordinate offset(px), only when placement is <code>'top'</code> or <code>'bottom'</code>.</td>
                    <td><code>number</code></td>
                    <td><code>0</code></td>
                </tr>
                <tr>
                    <td><code>[nzWrapClassName]</code></td>
                    <td>The class name of the container of the Drawer dialog.</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzZIndex]</code></td>
                    <td>The <code>z-index</code> of the Drawer.</td>
                    <td><code>number</code></td>
                    <td><code>1000</code></td>
                </tr>
                <tr>
                    <td><code>(nzOnClose)</code></td>
                    <td>Specify a callback that will be called when a user clicks mask, close button or Cancel button.</td>
                    <td><code>EventEmitter&lt;MouseEvent&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzDrawerService</span>
            <label class="api-type-label service">service</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Description</th>
                    <th>Params</th>
                    <th>Return</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>create</td>
                    <td>create and open an Drawer</td>
                    <td><code>NzDrawerOptions&lt;T, D, R&gt;</code></td>
                    <td><code>NzDrawerRef&lt;R&gt;</code></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzDrawerOptions</span>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Params</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nzContent</td>
                    <td>The drawer body content.</td>
                    <td><code>TemplateRef&lt;{{ '{' }} $implicit: D, drawerRef: NzDrawerRef {{ '}' }}&gt;</code>, <code>Type&lt;T&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>nzContentParams</td>
                    <td>The component inputs the param / The Template context.</td>
                    <td><code>D</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>nzClosable</td>
                    <td>Whether a close (x) button is visible on top right of the Drawer dialog or not.</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td>nzMaskClosable</td>
                    <td>Clicking on the mask (area outside the Drawer) to close the Drawer or not.</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td>nzMask</td>
                    <td>Whether to show mask or not.</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td>nzMaskStyle</td>
                    <td>Style for Drawer's mask element.</td>
                    <td><code>object</code></td>
                    <td><code>{{ '{' }}{{ '}' }}</code></td>
                </tr>
                <tr>
                    <td>nzBodyStyle</td>
                    <td>Body style for modal body element. Such as height, padding etc.</td>
                    <td><code>object</code></td>
                    <td><code>{{ '{' }}{{ '}' }}</code></td>
                </tr>
                <tr>
                    <td>nzTitle</td>
                    <td>The title for Drawer.</td>
                    <td><code>string</code><code>TemplateRef&lt;{{ '{' }}{{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>nzWidth</td>
                    <td>Width of the Drawer dialog.</td>
                    <td><code>number</code><code>string</code></td>
                    <td><code>256</code></td>
                </tr>
                <tr>
                    <td>nzHeight</td>
                    <td>Height of the Drawer dialog, only when placement is <code>'top'</code> or <code>'bottom'</code>.</td>
                    <td><code>number</code><code>string</code></td>
                    <td><code>256</code></td>
                </tr>
                <tr>
                    <td>nzWrapClassName</td>
                    <td>The class name of the container of the Drawer dialog.</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td>nzZIndex</td>
                    <td>The <code>z-index</code> of the Drawer.</td>
                    <td><code>number</code></td>
                    <td><code>1000</code></td>
                </tr>
                <tr>
                    <td>nzPlacement</td>
                    <td>The placement of the Drawer.</td>
                    <td><code>'top'</code><code>'right'</code><code>'bottom'</code><code>'left'</code></td>
                    <td><code>'right'</code></td>
                </tr>
                <tr>
                    <td>nzOffsetX</td>
                    <td>The the X coordinate offset(px).</td>
                    <td><code>number</code></td>
                    <td><code>0</code></td>
                </tr>
                <tr>
                    <td>nzOffsetY</td>
                    <td>The the Y coordinate offset(px), only when placement is <code>'top'</code> or <code>'bottom'</code>.</td>
                    <td><code>number</code></td>
                    <td><code>0</code></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">NzDrawerRef</span>
        </h5>
        <div class="markdown m-t-30">
            <h6>Methods</h6>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>close</td>
                        <td>close the drawer.</td>
                        <td><code>(result?: R) =&gt; void</code></td>
                    </tr>
                    <tr>
                        <td>open</td>
                        <td>open the drawer.</td>
                        <td><code>() =&gt; void</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="markdown m-t-30">
            <h6>Property</h6>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>afterOpen</td>
                        <td>Callback called after open.</td>
                        <td><code>Observable&lt;void&gt;</code></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>afterClose</td>
                        <td>Callback called after close.</td>
                        <td><code>Observable&lt;R&gt;</code></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>nzClosable</td>
                        <td>Whether a close (x) button is visible on top right of the Drawer dialog or not.</td>
                        <td><code>boolean</code></td>
                        <td><code>true</code></td>
                    </tr>
                    <tr>
                        <td>nzMaskClosable</td>
                        <td>Clicking on the mask (area outside the Drawer) to close the Drawer or not.</td>
                        <td><code>boolean</code></td>
                        <td><code>true</code></td>
                    </tr>
                    <tr>
                        <td>nzMask</td>
                        <td>Whether to show mask or not.</td>
                        <td><code>boolean</code></td>
                        <td><code>true</code></td>
                    </tr>
                    <tr>
                        <td>nzMaskStyle</td>
                        <td>Style for Drawer's mask element.</td>
                        <td><code>object</code></td>
                        <td><code>{{ '{' }}{{ '}' }}</code></td>
                    </tr>
                    <tr>
                        <td>nzBodyStyle</td>
                        <td>Body style for modal body element. Such as height, padding etc.</td>
                        <td><code>object</code></td>
                        <td><code>{{ '{' }}{{ '}' }}</code></td>
                    </tr>
                    <tr>
                        <td>nzTitle</td>
                        <td>The title for Drawer.</td>
                        <td><code>string | TemplateRef&lt;void&gt;</code></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>nzWidth</td>
                        <td>Width of the Drawer dialog.</td>
                        <td><code>number | string</code></td>
                        <td><code>256</code></td>
                    </tr>
                    <tr>
                        <td>nzHeight</td>
                        <td>Height of the Drawer dialog, only when placement is <code>'top'</code> or <code>'bottom'</code>.</td>
                        <td><code>number | string</code></td>
                        <td><code>256</code></td>
                    </tr>
                    <tr>
                        <td>nzWrapClassName</td>
                        <td>The class name of the container of the Drawer dialog.</td>
                        <td><code>string</code></td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>nzZIndex</td>
                        <td>The <code>z-index</code> of the Drawer.</td>
                        <td><code>number</code></td>
                        <td><code>1000</code></td>
                    </tr>
                    <tr>
                        <td>nzPlacement</td>
                        <td>The placement of the Drawer.</td>
                        <td><code>'top' | 'right' | 'bottom' | 'left'</code></td>
                        <td><code>'right'</code></td>
                    </tr>
                    <tr>
                        <td>nzOffsetX</td>
                        <td>The the X coordinate offset(px).</td>
                        <td><code>number</code></td>
                        <td><code>0</code></td>
                    </tr>
                    <tr>
                        <td>nzOffsetY</td>
                        <td>The the Y coordinate offset(px), only when placement is <code>'top'</code> or <code>'bottom'</code>.</td>
                        <td><code>number</code></td>
                        <td><code>0</code></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</nz-card> 