<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Type</h4>
            <p>There are <code>primary</code> button, <code>default</code> button, <code>dashed</code> button and <code>danger</code> button in antd.</p>        
            <div class="m-t-25">
                <div class="d-inline-block m-r-10">
                    <button nz-button nzType="primary">Primary</button>
                </div>
                <div class="d-inline-block m-r-10">
                    <button nz-button nzType="default">Default</button>
                </div>
                <div class="d-inline-block m-r-10">
                    <a href="" nz-button nzType="dashed">Dashed</a>
                </div>
                <div class="d-inline-block m-r-10">
                    <a href="" nz-button nzType="danger">Danger</a>
                </div>
            </div>
            <codebox [codeContent]="buttonTypeCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Size</h4>
            <p>Ant Design supports a default button size as well as a large and small size.</p>
            <p>If a large or small button is desired, set the <code>nzSize</code> property to either <code>large</code> or <code>small</code> respectively. Omit the <code>nzSize</code> property for a button with the default size.</p>
            <div class="m-t-25 m-b-15">
                <nz-radio-group [(ngModel)]="size">
                    <label nz-radio-button nzValue="large">Large</label>
                    <label nz-radio-button nzValue="default">Default</label>
                    <label nz-radio-button nzValue="small">Small</label>
                </nz-radio-group>
            </div>
            <div class="m-b-15">
                <button class="m-r-10" nz-button [nzSize]="size" nzType="primary">Primary</button>
                <button class="m-r-10" nz-button [nzSize]="size" nzType="default">Default</button>
                <button class="m-r-10" nz-button [nzSize]="size" nzType="dashed">Dashed</button>
                <button class="m-r-10" nz-button [nzSize]="size" nzType="danger">Danger</button>
            </div>
            <div class="m-b-15">
                <button class="m-r-10" nz-button nzType="primary" [nzSize]="size" nzShape="circle"><i nz-icon nzType="download"></i></button>
                <button class="m-r-10" nz-button nzType="primary" [nzSize]="size" nzShape="round">
                    <i nz-icon nzType="download"></i>Download
                </button>
                <button class="m-r-10" nz-button nzType="primary" [nzSize]="size"><i nz-icon nzType="download"></i>Download</button>
            </div>
            <div class="m-b-15">
                <nz-button-group [nzSize]="size">
                    <button nz-button nzType="primary">
                        <i nz-icon nzType="left"></i>
                        <span>Backward</span>
                    </button>
                    <button nz-button nzType="primary">
                        <span>Forward</span>
                        <i nz-icon nzType="right"></i>
                    </button>
                </nz-button-group>
            </div>
            <codebox [codeContent]="buttonSizeCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Loading</h4>
            <p>A loading indicator can be added to a button by setting the <code>nzLoading</code> property on the <code>nz-button</code>.</p>
            <div class="m-t-25 m-b-15">
                <button class="m-r-10" nz-button nzType="primary" nzLoading><i nz-icon nzType="poweroff"></i>Loading</button>
                <button class="m-r-10" nz-button nzType="primary" nzSize="small" nzLoading>Loading</button>
            </div>
            <div class="m-b-15">
                <button class="m-r-10" nz-button nzType="primary" (click)="loadOne()" [nzLoading]="isLoadingOne">
                    <span>Click me!</span>
                </button>
                <button class="m-r-10" nz-button nzType="primary" (click)="loadTwo()" [nzLoading]="isLoadingTwo">
                    <i nz-icon nzType="poweroff"></i>
                    <span>Click me!</span>
                </button>                
            </div>
            <div class="m-b-15">
                <button class="m-r-10" nz-button nzLoading nzShape="circle"></button>
                <button class="m-r-10" nz-button nzLoading nzType="primary" nzShape="circle"></button>
            </div>
            <codebox [codeContent]="buttonLoadingCode"></codebox>  
        </nz-card>
        <nz-card>
            <h4>Button Group</h4>
            <p>Buttons can be grouped by placing multiple <code>nz-button</code> components into a <code>nz-button-group</code>.</p>
            <p>The <code>nzSize</code> can be set to <code>large</code>, <code>small</code> or left unset resulting in a default size.</p>
            <div class="m-t-25 m-b-20">
                <h5>Basic</h5>
                <div class="m-r-10 d-inline-block">
                    <nz-button-group>
                        <button nz-button>Cancel</button>
                        <button nz-button nzType="primary">OK</button>
                    </nz-button-group>
                </div>
                <div class="m-r-10 d-inline-block">
                    <nz-button-group>
                        <button nz-button nzType="default" disabled>L</button>
                        <button nz-button nzType="default" disabled>M</button>
                        <button nz-button nzType="default" disabled>R</button>
                    </nz-button-group>
                </div>
                <div class="m-r-10 d-inline-block">
                    <nz-button-group>
                        <button nz-button nzType="primary" disabled>L</button>
                        <button nz-button nzType="default" disabled>M</button>
                        <button nz-button nzType="default">M</button>
                        <button nz-button nzType="dashed" disabled>R</button>
                    </nz-button-group>
                </div>
            </div>
            <div class="m-b-15">
                <h5>With Icons</h5>
                <div class="m-r-10 d-inline-block">
                    <nz-button-group>
                        <button nz-button nzType="primary"><i nz-icon nzType="left"></i> Go back</button>
                        <button nz-button nzType="primary">Go forward<i nz-icon nzType="right"></i></button>
                    </nz-button-group>
                </div>
                <div class="m-r-10 d-inline-block">
                    <nz-button-group>
                        <button nz-button nzType="primary"><i nz-icon nzType="cloud"></i></button>
                        <button nz-button nzType="primary"><i nz-icon nzType="cloud-download"></i></button>
                    </nz-button-group>
                </div>    
            </div>
            <codebox [codeContent]="buttonGroupCode"></codebox>  
        </nz-card>    
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Icon</h4>
            <p><code>nz-button</code> components can contain an <code>icon</code>. Just placing an <code>icon</code> within the <code>nz-button</code></p>
            <div class="m-t-25">
                <div class="d-inline-block m-r-10">
                    <button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="search"></i></button>
                </div>
                <div class="d-inline-block m-r-10">
                    <button nz-button nzType="primary"><i nz-icon nzType="search"></i>Search</button>
                </div>
                <div class="d-inline-block m-r-10">
                    <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="search"></i></button>
                </div>
                <div class="d-inline-block m-r-10">
                    <button nz-button nzType="default"><i nz-icon nzType="search"></i>Search</button>
                </div>
            </div>
            <codebox [codeContent]="buttonIconCode"></codebox>
        </nz-card>   
        <nz-card>
            <h4>Disabled</h4>
            <p>To mark a button as disabled, add the <code>disabled</code> property to the <code>Button</code>.</p>
            <div class="m-t-25">
                <div class="m-b-15">
                    <button class="m-r-10" nz-button nzType="primary">Primary</button>
                    <button class="m-r-10" nz-button nzType="primary" disabled>Primary(disabled)</button>
                </div>    
                <div class="m-b-15">
                    <button class="m-r-10" nz-button nzType="default">Default</button>
                    <button class="m-r-10" nz-button nzType="default" disabled>Default(disabled)</button>
                </div>
                <div class="m-b-15">
                    <button class="m-r-10" nz-button nzType="dashed">Dashed</button>
                    <button class="m-r-10" nz-button nzType="dashed" disabled>Dashed(disabled)</button>
                </div>
            </div>
            <codebox [codeContent]="buttonDisabledCode"></codebox>
        </nz-card> 
        <nz-card>
            <h4>Multiple Buttons</h4>
            <p>If you need several buttons, we recommend that you use 1 primary button + n secondary buttons, and if there are more than three operations, you can group some of them into <code>nz-dropdown</code>.</p>
            <div class="m-t-25">
                <button class="m-r-10" nz-button nzType="primary">primary</button>
                <button class="m-r-10" nz-button nzType="default">secondary</button>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu">Actions<i nz-icon nzType="down"></i></button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item>
                            <a>1st item</a>
                        </li>
                        <li nz-menu-item>
                            <a>2nd item</a>
                        </li>
                        <li nz-menu-item>
                            <a>3rd item</a>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
            <codebox [codeContent]="buttonMultipleCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Ghost Button</h4>
            <p><code>nzGhost</code> property will make button's background semi transparent.</p>
            <div class="m-t-25">
                <button class="m-r-10" nz-button nzType="primary" nzGhost>Primary</button>
                <button class="m-r-10" nz-button nzType="danger" nzGhost>Danger</button>
            </div>
            <codebox [codeContent]="buttonGhostCode"></codebox>
        </nz-card> 
        <nz-card>
            <h4>Block Button</h4>
            <p><code>nzBlock</code> property will make the button fit to its parent width.</p>
            <div class="m-t-25">
                <button nz-button class="m-b-15" nzType="primary" nzBlock>Primary</button>
                <button nz-button class="m-b-15" nzType="default" nzBlock>Default</button>
                <button nz-button class="m-b-15" nzType="dashed" nzBlock>Dashed</button>
                <button nz-button class="m-b-15" nzType="danger" nzBlock>Danger</button>
            </div>
            <codebox [codeContent]="buttonBlockCode"></codebox>
        </nz-card>        
    </div>
</div>
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-button</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzGhost]</code></td>
                    <td>make background transparent and invert text and border colors</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzLoading]</code></td>
                    <td>set the loading status of button</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzShape]</code></td>
                    <td>can be set to <code>circle</code> or omitted</td>
                    <td>string</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzSize]</code></td>
                    <td>can be set to <code>small</code><code>large</code> or omitted</td>
                    <td>string</td>
                    <td><code>default</code></td>
                </tr>
                <tr>
                    <td><code>[nzType]</code></td>
                    <td>can be set to <code>primary</code><code>ghost</code><code>dashed</code><code>danger</code> or omitted (meaning <code>default</code>)</td>
                    <td>string</td>
                    <td><code>default</code></td>
                </tr>
                <tr>
                    <td><code>[nzBlock]</code></td>
                    <td>option to fit button width to its parent width</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card>