<nz-card>
    <h4>Horizontal Login Form</h4>
    <p>Horizontal login form is often used in navigation bar.</p>
    <div class="m-t-25">
        <form nz-form [nzLayout]="'inline'" [formGroup]="horizonValidateForm" (ngSubmit)="horizonSubmitForm()">
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixUser">
                        <input formControlName="userName" nz-input placeholder="Username" />
                    </nz-input-group>
                    <nz-form-explain *ngIf="horizonValidateForm.get('userName')?.dirty && horizonValidateForm.get('userName')?.errors">
                        Please input your username!
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixLock">
                        <input formControlName="password" nz-input type="password" placeholder="Password" />
                    </nz-input-group>
                    <nz-form-explain *ngIf="horizonValidateForm.get('password')?.dirty && horizonValidateForm.get('password')?.errors">
                        Please input your Password!
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" [disabled]="!horizonValidateForm.valid">Log in</button>
                </nz-form-control>
            </nz-form-item>
        </form>
        <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
        <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
    </div>
    <codebox [codeContent]="formHorizontalLoginCode"></codebox>
</nz-card>
<nz-card>
    <h4>Login Form</h4>
    <p>Normal login form which can contain more elements.</p>
    <div class="m-t-25">
        <form nz-form [formGroup]="loginValidateForm" class="login-form" (ngSubmit)="loginSubmitForm()">
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixUser">
                        <input type="text" nz-input formControlName="userName" placeholder="Username">
                    </nz-input-group>
                    <nz-form-explain *ngIf="loginValidateForm.get('userName').dirty && loginValidateForm.get('userName').errors">Please input your username!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group [nzPrefix]="prefixLock">
                        <input type="password" nz-input formControlName="password" placeholder="Password">
                    </nz-input-group>
                    <nz-form-explain *ngIf="loginValidateForm.get('password').dirty && loginValidateForm.get('password').errors">Please input your Password!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <label nz-checkbox formControlName="remember">
                        <span>Remember me</span>
                    </label>
                    <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
                    <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
                    Or
                    <a href="">register now!</a>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formNormalLoginCode"></codebox>
</nz-card>
<nz-card>
    <h4>Registration</h4>
    <p>Fill in this form to create a new account for you.</p>
    <div class="m-t-25">
        <form nz-form class="register-form" [formGroup]="registerValidateForm" (ngSubmit)="registerSubmitForm()">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input nz-input formControlName="email" id="email">
                        <nz-form-explain *ngIf="registerValidateForm.get('email').dirty && registerValidateForm.get('email').errors">The input is not valid E-mail!</nz-form-explain>
                    </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="registerUpdateConfirmValidator()">
                    <nz-form-explain *ngIf="registerValidateForm.get('password').dirty && registerValidateForm.get('password').errors">Please input your password!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input type="password" formControlName="checkPassword" id="checkPassword">
                    <nz-form-explain *ngIf="registerValidateForm.get('checkPassword').dirty && registerValidateForm.get('checkPassword').errors">
                        <ng-container *ngIf="registerValidateForm.get('checkPassword').hasError('required')">
                            Please confirm your password!
                        </ng-container>
                        <ng-container *ngIf="registerValidateForm.get('checkPassword').hasError('confirm')">
                            Two passwords that you enter is inconsistent!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
                    <span>
                        Nickname
                        <i
                            nz-icon
                            nz-tooltip
                            nzTitle="What do you want other to call you"
                            nzType="question-circle"
                            nzTheme="outline"
                        ></i>
                    </span>
                    </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="nickname" formControlName="nickname">
                    <nz-form-explain *ngIf="registerValidateForm.get('nickname').dirty && registerValidateForm.get('nickname').errors">Please input your nickname!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="registerValidateForm.controls['phoneNumber']">
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                        <ng-template #addOnBeforeTemplate>
                            <nz-select formControlName="phoneNumberPrefix" [(ngModel)]="selectedValue" style="width: 70px;">
                                <nz-option nzLabel="+86" nzValue="+86"></nz-option>
                                <nz-option nzLabel="+87" nzValue="+87"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input formControlName="phoneNumber" id="'phoneNumber'" nz-input>
                    </nz-input-group>
                    <nz-form-explain *ngIf="registerValidateForm.get('phoneNumber').dirty && registerValidateForm.get('phoneNumber').errors">Please input your phone number!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>Website</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input nz-input id="website" formControlName="website" placeholder="website">
                    <nz-form-explain *ngIf="registerValidateForm.get('website').dirty && registerValidateForm.get('website').errors">Please input website!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="captcha" nzRequired>Captcha</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <div nz-row [nzGutter]="8">
                        <div nz-col [nzSpan]="12">
                            <input nz-input formControlName="captcha" id="captcha">
                        </div>
                        <div nz-col [nzSpan]="12">
                            <button nz-button (click)="getCaptcha($event)">Get captcha</button>
                        </div>
                    </div>
                    <nz-form-explain *ngIf="registerValidateForm.get('captcha').dirty && registerValidateForm.get('captcha').errors">Please input the captcha you got!</nz-form-explain>
                    <nz-form-extra>We must make sure that your are a human.</nz-form-extra>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row style="margin-bottom:8px;">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <label nz-checkbox formControlName="agree">
                        <span>I have read the <a>agreement</a></span>
                    </label>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row style="margin-bottom:8px;">
                <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary">Register</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formRegisterCode"></codebox>
</nz-card>
<nz-card>
    <h4>Advanced search</h4>
    <p>Three columns layout is often used for advanced searching of data table.</p>
    <p>Because the width of label is not fixed, you may need to adjust it by customizing its style.</p>
    <div class="m-t-25">
        <form nz-form [formGroup]="advancedSearchValidateForm">
            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="8" *ngFor="let control of advancedSearchControlArray" [style.display]="control.show?'block':'none'">
                    <nz-form-item nzFlex>
                        <nz-form-label [nzFor]="'field'+control.index">Field {{control.index}}</nz-form-label>
                        <nz-form-control>
                            <input nz-input placeholder="placeholder" [formControlName]="'field'+control.index" [attr.id]="'field'+control.index">
                        </nz-form-control>
                    </nz-form-item>

                </div>
            </div>
            <div nz-row>
                <div nz-col [nzSpan]="24" style="text-align: right;">
                    <button nz-button class="m-r-10" [nzType]="'primary'">Search</button>
                    <button nz-button class="m-r-10" (click)="advancedSearchResetForm()">Clear</button>
                    <a (click)="toggleCollapse()">
                        Collapse
                        <i nz-icon [nzType]="isCollapse?'down':'up'"></i>
                    </a>
                </div>
            </div>
        </form>
        <div class="text-center bg-gray-lightest p-v-50 border-radius-4 m-t-30 border">
            Search Result List
        </div>
    </div>
    <codebox [codeContent]="formAdvancedSearchCode"></codebox>
</nz-card>
<nz-card>
    <h4>Dynamic Form Item</h4>
    <p>Add or remove form items dynamically.</p>
    <div class="m-t-25">
        <form nz-form [formGroup]="dynamicValidateForm" (ngSubmit)="dynamicSubmitForm()" style="max-width: 600px;">
            <nz-form-item *ngFor="let control of dynamicControlArray;let i = index">
                <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i==0" [nzFor]="control.controlInstance">Passengers</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20" [nzOffset]="i==0?0:4">
                    <input nz-input style="width: 60%; margin-right:8px;" placeholder="placeholder" [attr.id]="control.id" [formControlName]="control.controlInstance">
                    <a (click)="dynamicRemoveField(control,$event)">
                        <i nz-icon nzType="minus-circle-o"></i>
                    </a>
                    <nz-form-explain *ngIf="dynamicGetFormControl(control.controlInstance)?.dirty&&dynamicGetFormControl(control.controlInstance)?.hasError('required')">
                        Please input passenger's name or delete this field.
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzXs]="{span:24,offset:0}" [nzSm]="{span:20,offset:4}">
                    <button nz-button nzType="dashed" style="width:60%" (click)="dynamicAddField($event)"><i nz-icon nzType="plus"></i> Add field</button>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzXs]="{span:24,offset:0}" [nzSm]="{span:20,offset:4}">
                    <button nz-button nzType="primary">Submit</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formDynamicCode"></codebox>
</nz-card>
<nz-card>
    <h4>Time-related Controls</h4>
    <p>All the types of input and output in time-related components are <code>Date</code>. You can use <a href="https://date-fns.org/">date-fns</a> to handle it.</p>
    <div class="m-t-25">
        <form nz-form [formGroup]="timeRelatedValidateForm" (ngSubmit)="timeRelatedSubmitForm()" style="max-width: 700px;">
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>DatePicker</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-date-picker formControlName="datePicker"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>DatePicker[ShowTime]</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-date-picker nzShowTime formControlName="datePickerTime"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>MonthPicker</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-month-picker formControlName="monthPicker"></nz-month-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>RangePicker</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-range-picker formControlName="rangePicker"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>RangePicker[showTime]</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-range-picker nzShowTime formControlName="rangePickerTime"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>TimePicker</nz-form-label>
                <nz-form-control [nzSm]="16" [nzXs]="24">
                    <nz-time-picker formControlName="timePicker"></nz-time-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
                    <button nz-button nzType="primary">Submit</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formDateTimeRelatedCode"></codebox>
</nz-card>
<nz-card>
    <h4>Reactive Forms Validation</h4>
    <p>We provide properties like <code>nzValidateStatus</code><code>nzHasFeedback</code> in <code>nz-form-control</code> to customize your own validate status and message, when using <a href="https://angular.io/guide/reactive-forms#reactive-forms">reactive forms</a>.</p>
    <ol class="list-styled">
        <li>
            <code>nzValidateStatus</code>: validate status of form components, the default status comes from the <code>NgControl</code> in <code>nz-form-control</code>, you can set other <code>NgControl</code> to it.
        </li>
        <li><code>nzHasFeedback</code>: display feed icon of input control</li>
        <li><code>nz-form-explain</code>: display validate message.</li>
    </ol>
    <div class="m-t-25">
        <form nz-form [formGroup]="reactiveValidateForm" (ngSubmit)="reactiveSubmitForm($event,reactiveValidateForm.value)" style="max-width: 600px">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input formControlName="userName" placeholder="async validate try to write JasonWood">
                    <nz-form-explain *ngIf="reactiveValidateForm.get('userName').dirty && reactiveValidateForm.get('userName').errors || reactiveValidateForm.get('userName').pending ">
                        <ng-container *ngIf="reactiveValidateForm.get('userName').hasError('required')">
                            Please input your username!
                        </ng-container>
                        <ng-container *ngIf="reactiveValidateForm.get('userName').hasError('duplicated')">
                            The username is redundant!
                        </ng-container>
                        <ng-container *ngIf="reactiveValidateForm.get('userName').pending">
                            Validating...
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input formControlName="email" placeholder="email" type="email">
                    <nz-form-explain *ngIf="reactiveValidateForm.get('email').dirty&&reactiveValidateForm.get('email').errors">
                        <ng-container *ngIf="reactiveValidateForm.get('email').hasError('email')">
                        The input is not valid E-mail!
                        </ng-container>
                        <ng-container *ngIf="reactiveValidateForm.get('email').hasError('required')">
                        Please input your E-mail!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
                <div>
                    <nz-form-control [nzSpan]="12" nzHasFeedback>
                        <input nz-input type="password" formControlName="password" (ngModelChange)="reactiveValidateConfirmPassword()">
                        <nz-form-explain *ngIf="reactiveValidateForm.get('password').dirty&&reactiveValidateForm.get('password').hasError('required')">Please input your password!</nz-form-explain>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback>
                    <input nz-input type="password" formControlName="confirm" placeholder="confirm your password">
                    <nz-form-explain *ngIf="reactiveValidateForm.get('confirm').dirty&&reactiveValidateForm.get('confirm').errors">
                        <ng-container *ngIf="reactiveValidateForm.get('confirm').hasError('required')">
                            Please confirm your password!
                        </ng-container>
                        <ng-container *ngIf="reactiveValidateForm.get('confirm').hasError('confirm')">
                            Password is inconsistent!
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Comment</nz-form-label>
                <nz-form-control [nzSpan]="12" >
                    <textarea formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
                    <nz-form-explain *ngIf="reactiveValidateForm.get('comment').dirty&&reactiveValidateForm.get('comment').hasError('required')">Please write something here!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button class="m-r-10" nz-button nzType="primary" [disabled]="!reactiveValidateForm.valid">Submit</button>
                    <button nz-button (click)="reactiveResetForm($event)">Reset</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formReactiveCode"></codebox>
</nz-card>
<nz-card>
    <h4>Template-driven Forms Validation</h4>
    <p>We provide properties like <code>nzValidateStatus</code><code>nzHasFeedback</code> in <code>nz-form-control</code> to customize your own validate status and message, when using <a href="https://angular.io/guide/forms#template-driven-forms">template-driven forms</a>.</p>
    <ol class="list-styled">
        <li><code>nzValidateStatus</code>: validate status of form components which could be 'success', 'warning', 'error', 'validating'.</li>
        <li><code>nzHasFeedback</code>: display feed icon of input control</li>
        <li><code>nz-form-explain</code>: display validate message.</li>
    </ol>
    <div class="m-t-25">
        <form nz-form style="max-width: 600px;">
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Fail</nz-form-label>
                <nz-form-control nzValidateStatus="error" [nzSpan]="12">
                    <input nz-input [ngModel]="'unavailable choice'" name="errorValid">
                    <nz-form-explain>Should be combination of numbers & alphabets</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Warning</nz-form-label>
                <nz-form-control nzValidateStatus="warning" [nzSpan]="12">
                    <input nz-input [ngModel]="'Warning'" name="warningValid">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Validating</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="validating" nzHasFeedback>
                    <input nz-input [ngModel]="'The content is being validating'" name="validating">
                    <nz-form-explain>I'm the content is being validating</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Success</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="success" nzHasFeedback>
                    <input nz-input [ngModel]="'The content'" name="successValid">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Warning</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="warning" nzHasFeedback>
                    <input nz-input [ngModel]="'Warning'" name="warningHighValid">
                    <nz-form-explain>Should be combination of numbers & alphabets</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Fail</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="error" nzHasFeedback>
                    <input nz-input [ngModel]="'unavailable choice'" name="invalidValid">
                    <nz-form-explain>Should be combination of numbers & alphabets</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Success</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="success" nzHasFeedback>
                    <nz-date-picker name="date-picker-success" class="w-100"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Warning</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="warning" nzHasFeedback>
                    <nz-time-picker name="time-picker-warning" style="width: 100%"></nz-time-picker>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Error</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="error" nzHasFeedback>
                    <nz-select name="select-error" [ngModel]="'Option 1'">
                        <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
                        <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Validating</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="validating" nzHasFeedback>
                    <nz-select name="select-validate" [ngModel]="'Option 2'">
                        <nz-option nzValue="Option 1" nzLabel="Option 1"></nz-option>
                        <nz-option nzValue="Option 2" nzLabel="Option 2"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Success</nz-form-label>
                <nz-form-control [nzSpan]="12" nzValidateStatus="success" nzHasFeedback>
                    <nz-input-number name="inputnumber-success" style="width:100%"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formTemplateDrivenValidationCode"></codebox>
</nz-card>
<nz-card>
    <h4>Coordinated Controls</h4>
    <p>Use <code>setValue</code> to set other control's value programmaticly.</p>
    <div class="m-t-25">
        <form nz-form [formGroup]="coordinatedValidateForm" (ngSubmit)="coordinatedSubmitForm()" style="max-width: 600px">
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzRequired nzFor="note">Note</nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <input id="note" type="text" nz-input formControlName="note">
                    <nz-form-explain *ngIf="coordinatedValidateForm.get('note').dirty && coordinatedValidateForm.get('note').errors">Please input your username!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="gender" nzRequired>Gender</nz-form-label>
                <nz-form-control [nzSpan]="12">
                    <nz-select id="gender" formControlName="gender" nzPlaceHolder="Select a option and change input text above" (ngModelChange)="coordinatedGenderChange($event)">
                        <nz-option nzValue="male" nzLabel="male"></nz-option>
                        <nz-option nzValue="female" nzLabel="female"></nz-option>
                    </nz-select>
                <nz-form-explain *ngIf="coordinatedValidateForm.get('gender').dirty && coordinatedValidateForm.get('gender').errors">Please select your gender!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="12" [nzOffset]="5">
                    <button nz-button nzType="primary">Submit</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formCoordinatedCode"></codebox>
</nz-card>
<nz-card>
    <h4>Form Layout</h4>
    <p>There are three layout for form: <code>horizontal</code>, <code>vertical</code>, <code>inline</code>.</p>
    <div class="m-t-25">
        <form nz-form [nzLayout]="layoutValidateForm.get('formLayout')?.value" [formGroup]="layoutValidateForm" (ngSubmit)="layoutSubmitForm()">
            <nz-form-item>
                <nz-form-label [nzSpan]="isHorizontal? 4:null">Form Layout</nz-form-label>
                <nz-form-control [nzSpan]="isHorizontal? 14:null">
                    <nz-radio-group formControlName="formLayout">
                        <label nz-radio-button [nzValue]="'horizontal'">Horizontal</label>
                        <label nz-radio-button [nzValue]="'vertical'">Vertical</label>
                        <label nz-radio-button [nzValue]="'inline'">Inline</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="isHorizontal? 4:null">Field A</nz-form-label>
                <nz-form-control [nzSpan]="isHorizontal? 14:null">
                    <input nz-input formControlName="fieldA" placeholder="input placeholder">
                    <nz-form-explain *ngIf="layoutValidateForm.get('fieldA').dirty && layoutValidateForm.get('fieldA').errors">Please input your username!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="isHorizontal? 4:null">Field B</nz-form-label>
                <nz-form-control [nzSpan]="isHorizontal? 14:null">
                    <input nz-input formControlName="filedB" placeholder="input placeholder">
                    <nz-form-explain *ngIf="layoutValidateForm.get('filedB').dirty && layoutValidateForm.get('filedB').errors">Please input your Password!</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="isHorizontal? 14:null" [nzOffset]="isHorizontal? 4:null">
                    <button nz-button nzType="primary">Submit</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formLayoutCode"></codebox>
</nz-card>
<nz-card>
    <h4>Dynamic Rules</h4>
    <p>Perform different check rules according to different situations.</p>
    <div class="m-t-25">
        <form nz-form [formGroup]="dynamicRuleValidateForm" (ngSubmit)="dynamicRuleSubmitForm()">
            <nz-form-item>
                <nz-form-label [nzSpan]="4" nzRequired nzFor="name">Name</nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <input type="text" nz-input formControlName="name" placeholder="Please input your name">
                    <nz-form-explain *ngIf="dynamicRuleValidateForm.get('name').dirty && dynamicRuleValidateForm.get('name').errors">Please input your name</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="4" nzFor="nickname" [nzRequired]="dynamicRuleValidateForm.get('required')?.value">Nickname</nz-form-label>
                <nz-form-control [nzSpan]="8">
                    <input type="text" nz-input formControlName="nickname" placeholder="Please input your nickname">
                    <nz-form-explain *ngIf="dynamicRuleValidateForm.get('nickname').dirty && dynamicRuleValidateForm.get('nickname').errors">Please input your nickname</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="8" [nzOffset]="4">
                    <label nz-checkbox formControlName="required" (ngModelChange)="dynamicRuleRequiredChange($event)">Nickname is required</label>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="8" [nzOffset]="4">
                    <button nz-button nzType="primary">Check</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
    <codebox [codeContent]="formDynamicRulesCode"></codebox>
</nz-card>
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h4>
            <span class="font-weight-light">Form</span>
        </h4>
        <p>You can align the controls of a <code>form</code> using the <code>layout</code> prop：</p>
        <ul>
            <li><code>horizontal</code>：to horizontally align the <code>label</code>s and controls of the fields. (Default)</li>
            <li><code>vertical</code>：to vertically align the <code>label</code>s and controls of the fields.</li>
            <li><code>inline</code>：to render form fields in one line.</li>
        </ul>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzLayout]</code></td>
                    <td>Form layout</td>
                    <td><code>'horizontal'丨'vertical'丨'inline'</code></td>
                    <td>'horizontal'</td>
                </tr>
                <tr>
                    <td><code>[nzNoColon]</code></td>
                    <td>change default props <code>[nzNoColon]</code> value of <code>nz-form-label</code></td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-form-item</span>
            <label class="api-type-label component">component</label>
        </h5>
        <p>Used to separate the item in forms, contains label(optional) and control field.</p>
        <blockquote><p>All api in <a routerLink="/components/layout/grid">nz-row</a> can be used in <code>nz-form-item</code>.</p></blockquote>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzFlex]</code></td>
                    <td>display flex</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-form-label</span>
            <label class="api-type-label component">component</label>
        </h5>
        <p>The label of the form item, optional.</p>
        <blockquote><p>All api in <a routerLink="/components/layout/grid">nz-col</a> can be used in <code>nz-form-label</code>.</p></blockquote>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzRequired]</code></td>
                    <td>add required style to current item</td>
                    <td>boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzNoColon]</code></td>
                    <td>whether to not display <code>:</code> after label text.</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzFor]</code></td>
                    <td>The <code>for</code> property of <code>label</code></td>
                    <td>string</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-form-control</span>
            <label class="api-type-label component">component</label>
        </h5>
        <p>A form consists of one or more form fields whose type includes input, textarea, checkbox, radio, select, tag, and more.</p>
        <blockquote><p>All api in <a routerLink="/components/layout/grid">nz-col</a> can be used in <code>nz-form-control</code>.</p></blockquote>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzValidateStatus]</code></td>
                    <td>Will generate status based on the input <code>FormControl</code>, <code>NgModel</code> or string, the default value is the first <code>FormControl</code> or <code>NgModel</code> in <code>nz-form-control</code></td>
                    <td><code>'success' | 'warning' | 'error' | 'validating' | FormControl | NgModel</code></td>
                    <td>first <code>FormControl</code> or <code>NgModel</code> in <code>nz-form-control</code></td>
                </tr>
                <tr>
                    <td><code>[nzHasFeedback]</code></td>
                    <td>Used with <code>nzValidateStatus</code>, this option specifies the validation status icon. Recommended to be used only with <code>Input</code>.</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzExtra]</code></td>
                    <td>The extra prompt message</td>
                    <td><code>string | TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzSuccessTip]</code></td>
                    <td>Tip display when validate success</td>
                    <td><code>string | TemplateRef&lt;{{ '{' }} $implicit: FormControl | NgModel {{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzWarningTip]</code></td>
                    <td>Tip display when validate warning</td>
                    <td><code>string | TemplateRef&lt;{{ '{' }} $implicit: FormControl | NgModel {{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzErrorTip]</code></td>
                    <td>Tip display when validate error</td>
                    <td><code>string | TemplateRef&lt;{{ '{' }} $implicit: FormControl | NgModel {{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzValidatingTip]</code></td>
                    <td>Tip display when validating</td>
                    <td><code>string | TemplateRef&lt;{{ '{' }} $implicit: FormControl | NgModel {{ '}' }}&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-form-split</span>
            <label class="api-type-label component">component</label>
        </h5>
        <p>The split icon of <code>-</code></p>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-form-text</span>
            <label class="api-type-label component">component</label>
        </h5>
        <p>Text in <code>nz-form-control</code></p>
    </div>
</nz-card>
