<nz-card>
    <h4>Basic</h4>
    <p>Display the document sample.</p>
    <div class="m-t-25">
        <article nz-typography>
            <h1 nz-title>Introduction</h1>
            <p nz-paragraph>
                In the process of internal desktop applications development, many different design specs and implementations
                would be involved, which might cause designers and developers difficulties and duplication and reduce the
                efficiency of development.
            </p>
            <p nz-paragraph>
                After massive project practice and summaries, Ant Design, a design language for backgroundapplications, is
                refined by Ant UED Team, which aims to
                <span nz-text
                ><strong
                    >uniform the user interface specs for internal background projects, lower the unnecessary cost of design
                    differences and implementation and liberate the resources ofdesign and front-end development</strong
                ></span
                >.
            </p>
            <h2 nz-title>Guidelines and Resources</h2>
            <p nz-paragraph>
                We supply a series of design principles, practical patterns and high quality design resources (<span nz-text
                ><code>Sketch</code></span
                >
                and <span nz-text><code>Axure</code></span
                >), to help people create their product prototypes beautifully and efficiently.
            </p>
            <article nz-typography>
                <ul>
                <li>
                    <a href="/docs/spec/proximity">Principles</a>
                </li>
                <li>
                    <a href="/docs/pattern/navigation">Patterns</a>
                </li>
                <li>
                    <a href="/docs/resource/download">Resource Download</a>
                </li>
                </ul>
            </article>
        </article>
    </div>
    <codebox [codeContent]="typographyBasicCode"></codebox>
</nz-card>
<nz-card nzTitle="Title Component">
    <p>Display title in different level.</p>
    <div class="m-t-25">
        <h1 nz-title>h1. Ant Design</h1>
        <h2 nz-title>h2. Ant Design</h2>
        <h3 nz-title>h3. Ant Design</h3>
        <h4 nz-title>h4. Ant Design</h4>
    </div>
    <codebox [codeContent]="typographyTitleCode"></codebox>
</nz-card>
<nz-card nzTitle="Interactive">
    <p>Provide additional interactive capacity.</p>
    <div class="m-t-25">
        <p nz-paragraph nzEditable [(nzContent)]="editStr"></p>
        <p nz-paragraph nzCopyable nzEditable [(nzContent)]="copyStr"></p>
        <p nz-paragraph nzCopyable nzCopyText="Hello, Ant Design!">Replace copy text.</p>
    </div>
    <codebox [codeContent]="typographyInteractiveCode"></codebox>
</nz-card>
<nz-card nzTitle="Text Component">
    <p>Provides multiple types of text.</p>
    <div class="m-t-25">
        <span nz-text>Ant Design</span>
        <br>
        <span nz-text nzType="secondary">Ant Design</span>
        <br>
        <span nz-text nzType="warning">Ant Design</span>
        <br>
        <span nz-text nzType="danger">Ant Design</span>
        <br>
        <span nz-text nzDisabled>Ant Design</span>
        <br>
        <span nz-text><mark>Ant Design</mark></span>
        <br>
        <span nz-text><code>Ant Design</code></span>
        <br>
        <span nz-text><u>Ant Design</u></span>
        <br>
        <span nz-text><del>Ant Design</del></span>
        <br>
        <span nz-text><strong>Ant Design</strong></span>
    </div>
    <codebox [codeContent]="typographyTextCode"></codebox>
</nz-card>
<nz-card nzTitle="Ellipsis">
    <p>Multiple line ellipsis support.</p>
    <div class="m-t-25">
        <p nz-paragraph nzEllipsis>
            Ant Design, a design language for background applications, is refined by Ant UED Team. Ant Design, a design
            language for background applications, is refined by Ant UED Team. Ant Design, a design language for background
            applications, is refined by Ant UED Team. Ant Design, a design language for background applications, is refined by
            Ant UED Team. Ant Design, a design language for background applications, is refined by Ant UED Team. Ant Design, a
            design language for background applications, is refined by Ant UED Team.
        </p>
        <p nz-paragraph nzEllipsis nzExpandable [nzEllipsisRows]="3">
            Ant Design, a design language for background applications, is refined by Ant UED Team. Ant Design, a design
            language for background applications, is refined by Ant UED Team. Ant Design, a design language for background
            applications, is refined by Ant UED Team. Ant Design, a design language for background applications, is refined by
            Ant UED Team. Ant Design, a design language for background applications, is refined by Ant UED Team. Ant Design, a
            design language for background applications, is refined by Ant UED Team.
        </p>
        <p
            nz-paragraph
            nzEllipsis
            nzEditable
            [nzEllipsisRows]="2"
            [nzContent]="dynamicContent"
            (nzContentChange)="onChange($event)"
        ></p>
    </div>
    <codebox [codeContent]="typographyEllipsisCode"></codebox>
</nz-card>
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-typography</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <p><code>p[nz-paragraph]</code>, <code>span[nz-text]</code>, <code>h1[nz-title]</code>, <code>h2[nz-title]</code>, <code>h3[nz-title]</code>, <code>h4[nz-title]</code> are used in the same way as the <code>[nz-typography]</code></p>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzContent]</code></td>
                    <td>Component content</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzCopyable]</code></td>
                    <td>Can copy, require use <code>[nzContent]</code></td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzEditable]</code></td>
                    <td>Editable, require use <code>[nzContent]</code></td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzEllipsis]</code></td>
                    <td>Display ellipsis when overflow, require use <code>[nzContent]</code> when dynamic content</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzCopyText]</code></td>
                    <td>Customize the copy text</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>Disable content</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzExpandable]</code></td>
                    <td>Expandable when ellipsis</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzEllipsisRows]</code></td>
                    <td>Line number</td>
                    <td><code>number</code></td>
                    <td><code>1</code></td>
                </tr>
                <tr>
                    <td><code>[nzType]</code></td>
                    <td>Content type</td>
                    <td><code>'secondary'｜'warning'｜'danger'</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzContentChange)</code></td>
                    <td>Trigger when user edit the content</td>
                    <td><code>EventEmitter&lt;string&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzExpandChange)</code></td>
                    <td>Trigger when user expanded the content</td>
                    <td><code>EventEmitter&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card>