<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Progress bar</h4>
            <p>A standard progress bar.</p>
            <div class="m-t-25">
                <nz-progress [nzPercent]="30"></nz-progress>
                <nz-progress [nzPercent]="50" nzStatus="active"></nz-progress>
                <nz-progress [nzPercent]="70" nzStatus="exception"></nz-progress>
                <nz-progress [nzPercent]="100"></nz-progress>
                <nz-progress [nzPercent]="50" [nzShowInfo]="false"></nz-progress>
            </div>
            <codebox [codeContent]="progressBasicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Mini size progress bar</h4>
            <p>Appropriate for a narrow area.</p>
            <div class="m-t-25">
                <div class="row">
                    <div class="col-md-3">
                        <nz-progress [nzPercent]="30" nzSize="small"></nz-progress>
                        <nz-progress [nzPercent]="50" nzSize="small" nzStatus="active"></nz-progress>
                        <nz-progress [nzPercent]="70" nzSize="small" nzStatus="exception"></nz-progress>
                        <nz-progress [nzPercent]="100" nzSize="small"></nz-progress>
                        <nz-progress [nzPercent]="50" nzSize="small" [nzShowInfo]="false"></nz-progress>
                    </div>
                </div>
            </div>
            <codebox [codeContent]="progressMiniCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Dynamic circular progress bar</h4>
            <p>A dynamic progress bar is better.</p>
            <div class="m-t-25">
                <nz-progress [nzPercent]="circularPercent" nzType="circle"></nz-progress>
                <nz-button-group class="m-l-15">
                    <button nz-button (click)="circularDecline()"><i nz-icon nzType="minus"></i></button>
                    <button nz-button (click)="circularIncrease()"><i nz-icon nzType="plus"></i></button>
                </nz-button-group>
            </div>
            <codebox [codeContent]="progressDynamicCircularCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Custom text format</h4>
            <p>You can custom text format by setting <code>nzFormat</code>.</p>
            <div class="m-t-25">
                <nz-progress class="m-r-20" [nzPercent]="75" nzType="circle" [nzFormat]="formatOne"></nz-progress>
                <nz-progress [nzPercent]="100" nzType="circle" [nzFormat]="formatTwo"></nz-progress>
            </div>
            <codebox [codeContent]="progressCustomTextCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Progress bar with success segment</h4>
            <p>A standard progress bar.</p>
            <div class="m-t-25">
                <nz-progress nz-tooltip nzTitle="3 done / 3 in progress / 4 to do" nz-tooltip [nzPercent]="60" [nzSuccessPercent]="30"></nz-progress>
            </div>
            <codebox [codeContent]="progressSuccessSegmentCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Circular progress bar</h4>
            <p>A circular progress bar.</p>
            <div class="m-t-25">
                <nz-progress class="m-r-10" [nzPercent]="75" nzType="circle"></nz-progress>
                <nz-progress class="m-r-10" [nzPercent]="70" nzType="circle" nzStatus="exception"></nz-progress>
                <nz-progress class="m-r-10" [nzPercent]="100" nzType="circle"></nz-progress>
            </div>
            <codebox [codeContent]="progressCircularCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Mini size circular progress bar</h4>
            <p>A smaller circular progress bar.</p>
            <div class="m-t-25">
                <nz-progress class="m-r-10" [nzPercent]="75" nzType="circle" [nzWidth]="80"></nz-progress>
                <nz-progress class="m-r-10" [nzPercent]="70" nzType="circle" [nzWidth]="80" nzStatus="exception"></nz-progress>
                <nz-progress class="m-r-10" [nzPercent]="100" nzType="circle" [nzWidth]="80"></nz-progress>
            </div>
            <codebox [codeContent]="progressMiniCircularCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Dynamic</h4>
            <p>A dynamic progress bar is better.</p>
            <div class="m-t-25">
                <nz-progress [nzPercent]="percent"></nz-progress>
                <nz-button-group class="m-t-15">
                    <button nz-button (click)="decline()"><i nz-icon nzType="minus"></i></button>
                    <button nz-button (click)="increase()"><i nz-icon nzType="plus"></i></button>
                </nz-button-group>
            </div>
            <codebox [codeContent]="progressDynamicCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Dashboard</h4>
            <p>By setting <code>nzType="dashboard"</code>, you can get a dashboard style of progress easily.</p>
            <div class="m-t-25">
                <nz-progress [nzPercent]="75" nzType="dashboard"></nz-progress>
            </div>
            <codebox [codeContent]="progressDashboardCode"></codebox>
        </nz-card>
    </div>
</div>  
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-progress</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzFormat]</code></td>
                    <td>template function of the content</td>
                    <td><code>(percent: number) =&gt; string</code></td>
                    <td><code>percent =&gt; percent + '%'</code></td>
                </tr>
                <tr>
                    <td><code>[nzGapDegree]</code><code>(nzType=circle)</code></td>
                    <td>the gap degree of half circle, 0 ~ 360</td>
                    <td><code>number</code></td>
                    <td><code>0</code></td>
                </tr>
                <tr>
                    <td><code>[nzGapPosition]</code><code>(nzType=circle)</code></td>
                    <td>the gap position</td>
                    <td><code>'top' | 'right' | 'bottom' | 'left'</code></td>
                    <td><code>'top'</code></td>
                </tr>
                <tr>
                    <td><code>[nzPercent]</code></td>
                    <td>to set the completion percentage</td>
                    <td><code>number</code></td>
                    <td><code>0</code></td>
                </tr>
                <tr>
                    <td><code>[nzShowInfo]</code></td>
                    <td>whether to display the progress value and the status icon</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzStatus]</code></td>
                    <td>to set the status of the Progress</td>
                    <td><code>'success' | 'exception' | 'active' | 'normal'</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzStrokeWidth]</code><code>(nzType=line)</code></td>
                    <td>to set the width of the progress bar, unit: <code>px</code></td>
                    <td><code>number</code></td>
                    <td><code>8</code></td>
                </tr>
                <tr>
                    <td><code>[nzStrokeWidth]</code><code>(nzType=circle)</code></td>
                    <td>to set the width of the circular progress bar, unit: percentage of the canvas width</td>
                    <td><code>number</code></td>
                    <td><code>6</code></td>
                </tr>
                <tr>
                    <td><code>[nzType]</code></td>
                    <td>to set the type</td>
                    <td><code>'line' | 'circle' | 'dashboard'</code></td>
                    <td><code>'line'</code></td>
                </tr>
                <tr>
                    <td><code>[nzWidth]</code><code>(nzType=circle)</code></td>
                    <td>to set the canvas width of the circular progress bar, unit: <code>px</code></td>
                    <td><code>number</code></td>
                    <td><code>132</code></td>
                </tr>
                <tr>
                    <td><code>[nzStrokeLinecap]</code></td>
                    <td>to set the style of the progress linecap</td>
                    <td><code>'round' | 'square'</code></td>
                    <td><code>'round'</code></td>
                </tr>
                <tr>
                    <td><code>[nzStrokeColor]</code></td>
                    <td>color of progress bar</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card> 
