<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Basic Usage</h4>
            <p>Basic Usage, set <code>nzDataSource</code> of <code>nz-autocomplete</code> with dataSource property.</p>
            <div class="m-t-25">
                <input placeholder="input here" nz-input [(ngModel)]="autocompleteBasicValue" (input)="onInput($event.target?.value)" [nzAutocomplete]="autocompleteBasic">
                <nz-autocomplete #autocompleteBasic>
                    <nz-auto-option *ngFor="let option of autocompleteBasicOptions" [nzValue]="option">{{option}}</nz-auto-option>
                </nz-autocomplete>
            </div>
            <codebox [codeContent]="autocompleteBasicCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Customized</h4>
            <p>You could pass <code>nz-option</code> as Content of <code>nz-autocomplete</code>, instead of using nzDataSource`.</p>
            <div class="m-t-25">
                <input placeholder="input here" nz-input [(ngModel)]="autocompleteCustomizedValue" (ngModelChange)="onChange($event)" [nzAutocomplete]="autocompleteCustomized">
                <nz-autocomplete #autocompleteCustomized>
                    <nz-auto-option *ngFor="let option of autocompleteCustomizedOptions" [nzValue]="option">{{option}}</nz-auto-option>
                </nz-autocomplete>
            </div>
            <codebox [codeContent]="autocompleteCustomizedCode"></codebox>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Customize Input Component</h4>
            <p>Customize Input Component</p>
            <div class="m-t-25">
                <textarea placeholder="input here" nz-input row="4"  [(ngModel)]="autocompleteCustomizedInputValue" (input)="onInputTextarea($event.target?.value)" [nzAutocomplete]="autocompleteCustomizedInput"></textarea>
                <nz-autocomplete #autocompleteCustomizedInput>
                    <nz-auto-option *ngFor="let option of autocompleteCustomizedInputOptions" [nzValue]="option">{{option}}</nz-auto-option>
                </nz-autocomplete>
            </div>
            <codebox [codeContent]="autocompleteCustomizeInputCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Non-case-sensitive AutoComplete</h4>
            <p>A non-case-sensitive AutoComplete</p>
            <div class="m-t-25">
                <div class="m-v-35">
                    <input placeholder="try to type `b`" nz-input [(ngModel)]="autocompleteNoneCaseSensitiveValue" (input)="onInputNoneCaseSensitive($event.target?.value)" [nzAutocomplete]="autoCompleteNoneCaseSensitiveInput">
                    <nz-autocomplete [nzDataSource]="autocompleteNoneCaseSensitiveFilteredOptions" #autoCompleteNoneCaseSensitiveInput>
                    </nz-autocomplete>
                </div>
            </div>
            <codebox [codeContent]="autocompleteNoneCaseSensitiveCode"></codebox>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Lookup-Patterns - Uncertain Category</h4>
            <p>Demonstration of <a href="https://ant.design/docs/spec/reaction#Lookup-Patterns" target="_blank">Lookup Patterns: Uncertain Category</a>.</p>
            <div class="m-t-25">
                <nz-input-group [nzSuffix]="suffixIcon">
                    <input placeholder="input here" nz-input [(ngModel)]="autocompleteCertainCatInputValue" (ngModelChange)="onChangeCertainCat($event)" [nzAutocomplete]="autocompleteCertainCat"/>
                </nz-input-group>
                <ng-template #suffixIcon>
                    <i nz-icon nzType="search"></i>
                </ng-template>
                <nz-autocomplete #autocompleteCertainCat>
                    <nz-auto-optgroup *ngFor="let group of optionGroups" [nzLabel]="groupTitle">
                        <ng-template #groupTitle>
                            <span>{{group.title}}
                            <a class="more-link" href="https://www.google.com/search?q=ng+zorro" target="_blank">More</a>
                            </span>
                        </ng-template>
                        <nz-auto-option *ngFor="let option of group.children" [nzLabel]="option.title" [nzValue]="option">
                            {{option.title}}
                            <span class="certain-search-item-count">{{option.count}} Subscribe</span>
                        </nz-auto-option>
                    </nz-auto-optgroup>
                </nz-autocomplete>
            </div>
            <codebox [codeContent]="autocompleteCertainCatCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Lookup-Patterns - Certain Category</h4>
            <p>Demonstration of <a href="https://ant.design/docs/spec/reaction#Lookup-Patterns">Lookup Patterns: Certain Category</a>.</p>
            <div class="m-t-25">
                <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                    <input placeholder="input here" nz-input [(ngModel)]="autocompleteUncertainCatInputValue" (ngModelChange)="onChangeUncertainCat($event)" [nzAutocomplete]="autocompleteUncertainCat"/>
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search" theme="outline"></i></button>
                </ng-template>
                <nz-autocomplete #autocompleteUncertainCat>
                    <nz-auto-option *ngFor="let option of autocompleteUncertainCatOoptions" [nzValue]="option.category">
                    {{option.value}} in
                    <a [href]="'https://alibaba.com/trade/search?q=' + option.query" target="_blank" rel="noopener noreferrer">
                        <span class="font-weight-semibold">{{option.category}}</span>
                    </a>
                    Category
                    <span class="global-search-item-count"><span class="text-dark font-weight-semibold">{{option.count}}</span> results</span>
                    </nz-auto-option>
                </nz-autocomplete>
            </div>
            <codebox [codeContent]="autocompleteUncertainCatCode"></codebox>
        </nz-card>
    </div>
</div>

<nz-card nzTitle="API">
    <pre><code highlight [textContent]="autocompleteAPICode"></code></pre>
    <pre><code highlight [textContent]="autocompleteAPI2Code"></code></pre>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nzAutocomplete]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzAutocomplete]</code></td>
                    <td>used to bind <code>nzAutocomplete</code> components</td>
                    <td><code>NzAutocompleteComponent</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-autocomplete</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzBackfill]</code></td>
                    <td>backfill selected item the input when using keyboard</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzDataSource]</code></td>
                    <td>Data source for autocomplete</td>
                    <td><code>AutocompleteDataSource</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzDefaultActiveFirstOption]</code></td>
                    <td>Whether active first option by default</td>
                    <td><code>boolean</code></td>
                    <td><code>true</code></td>
                </tr>
                <tr>
                    <td><code>[nzWidth]</code></td>
                    <td>Custom width, unit px</td>
                    <td><code>number</code></td>
                    <td>trigger element width</td>
                </tr>
                <tr>
                    <td><code>[nzOverlayClassName]</code></td>
                    <td>Class name of the dropdown root element</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzOverlayStyle]</code></td>
                    <td>Style of the dropdown root element</td>
                    <td><code>object</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-auto-option</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzValue]</code></td>
                    <td>bind ngModel of the trigger element</td>
                    <td><code>any</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzLabel]</code></td>
                    <td>display value of the trigger element</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>disabled option</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
            </tbody>
        </table>
    </div>    
</nz-card>    