<div class="row">
    <div class="col-md-12">
        <nz-card>
            <h4>Top Navigation</h4>
            <p>Horizontal top navigation menu.</p>
            <div class="m-t-25">
                <ul nz-menu [nzMode]="'horizontal'">
                    <li nz-menu-item><i nz-icon nzType="mail"></i> Navigation One</li>
                    <li nz-menu-item nzDisabled><i nz-icon nzType="appstore"></i> Navigation Two</li>
                    <li nz-submenu>
                        <span title><i nz-icon nzType="setting"></i> Navigation Three - Submenu</span>
                        <ul>
                            <li nz-menu-group>
                                <span title>Item 1</span>
                                <ul>
                                    <li nz-menu-item>Option 1</li>
                                    <li nz-menu-item>Option 2</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Item 2</span>
                                <ul>
                                    <li nz-menu-item>Option 3</li>
                                    <li nz-menu-item>Option 4</li>
                                    <li nz-submenu>
                                    <span title>Sub Menu</span>
                                    <ul>
                                        <li nz-menu-item nzDisabled>Option 5</li>
                                        <li nz-menu-item>Option 6</li>
                                    </ul>
                                    </li>
                                    <li nz-submenu nzDisabled>
                                    <span title>Disabled Sub Menu</span>
                                    <ul>
                                        <li nz-menu-item>Option 5</li>
                                        <li nz-menu-item>Option 6</li>
                                    </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-menu-item>
                        <a href="" target="_blank" rel="noopener noreferrer">Navigation Four - Link</a>
                    </li>
                </ul>
            </div>
            <codebox [codeContent]="menuTopNavigationCode"></codebox>
        </nz-card>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Inline menu</h4>
            <p>Vertical menu with inline submenus.</p>
            <div class="m-t-25">
                <ul nz-menu [nzMode]="'inline'" style="width: 240px;" class="border right m-t-65">
                    <li nz-submenu>
                        <span title><i nz-icon nzType="mail"></i> Navigation One</span>
                        <ul>
                            <li nz-menu-group>
                                <span title>Item 1</span>
                                <ul>
                                    <li nz-menu-item>Option 1</li>
                                    <li nz-menu-item>Option 2</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Item 2</span>
                                <ul>
                                    <li nz-menu-item>Option 3</li>
                                    <li nz-menu-item>Option 4</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i nz-icon nzType="appstore"></i> Navigation Two</span>
                        <ul>
                            <li nz-menu-item>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                            <li nz-submenu>
                                <span title>Submenu</span>
                                <ul>
                                    <li nz-menu-item>Option 7</li>
                                    <li nz-menu-item>Option 8</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i nz-icon nzType="setting"></i> Navigation Three</span>
                        <ul>
                            <li nz-menu-item>Option 9</li>
                            <li nz-menu-item>Option 10</li>
                            <li nz-menu-item>Option 11</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <codebox [codeContent]="menuInlineMenuCode"></codebox>   
        </nz-card>
        <nz-card>
            <h4>Open current submenu only</h4>
            <p>Click the menu and you will see that all the other menus gets collapsed to keep the entire menu compact.</p>
            <div class="m-t-25">
                <ul nz-menu [nzMode]="'inline'" class="border right m-t-45" style="width: 240px;">
                    <li nz-submenu [(nzOpen)]="openMap.sub1" (nzOpenChange)="openHandler('sub1')">
                        <span title><i nz-icon nzType="mail"></i> Navigation One</span>
                        <ul>
                            <li nz-menu-group>
                            <span title>Item 1</span>
                            <ul>
                                <li nz-menu-item>Option 1</li>
                                <li nz-menu-item>Option 2</li>
                            </ul>
                            </li>
                            <li nz-menu-group>
                            <span title>Item 2</span>
                            <ul>
                                <li nz-menu-item>Option 3</li>
                                <li nz-menu-item>Option 4</li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu [(nzOpen)]="openMap.sub2" (nzOpenChange)="openHandler('sub2')">
                        <span title><i nz-icon nzType="appstore"></i> Navigation Two</span>
                        <ul>
                            <li nz-menu-item>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                            <li nz-submenu>
                            <span title>Submenu</span>
                            <ul>
                                <li nz-menu-item>Option 7</li>
                                <li nz-menu-item>Option 8</li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu [(nzOpen)]="openMap.sub3" (nzOpenChange)="openHandler('sub3')">
                        <span title><i nz-icon nzType="setting"></i> Navigation Three</span>
                        <ul>
                            <li nz-menu-item>Option 9</li>
                            <li nz-menu-item>Option 10</li>
                            <li nz-menu-item>Option 11</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <codebox [codeContent]="openCurrentSubMenuCode"></codebox>   
        </nz-card>
        <nz-card>
            <h4>Vertical menu</h4>
            <p>Submenus open as pop-ups.</p>
            <div class="m-t-25">
                <ul nz-menu [nzMode]="'vertical'" class="border right m-v-50" style="width: 240px;">
                    <li nz-submenu>
                        <span title><i nz-icon nzType="mail"></i> Navigation One</span>
                        <ul>
                            <li nz-menu-group>
                                <span title>Item 1</span>
                                <ul>
                                    <li nz-menu-item>Option 1</li>
                                    <li nz-menu-item>Option 2</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Item 2</span>
                                <ul>
                                    <li nz-menu-item>Option 3</li>
                                    <li nz-menu-item>Option 4</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu (nzOpenChange)="change($event)">
                        <span title><i nz-icon nzType="appstore"></i> Navigation Two</span>
                        <ul>
                            <li nz-menu-item>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                            <li nz-submenu>
                            <span title>Submenu</span>
                            <ul>
                                <li nz-menu-item>Option 7</li>
                                <li nz-menu-item>Option 8</li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i nz-icon nzType="setting"></i> Navigation Three</span>
                        <ul>
                            <li nz-menu-item>Option 9</li>
                            <li nz-menu-item>Option 10</li>
                            <li nz-menu-item>Option 11</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <codebox [codeContent]="menuVerticalCode"></codebox> 
        </nz-card>        
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Collapsed inline menu</h4>
            <p>Inline menu could be collapsed.</p>
            <div class="m-t-25">
                <div style="width: 240px;">
                    <button nz-button [nzType]="'primary'" (click)="toggleCollapsed()" class="m-b-10">
                        <i nz-icon [nzType]="isCollapsed?'menu-unfold':'menu-fold'"></i>
                    </button>
                    <ul nz-menu [nzMode]="'inline'" nzTheme='dark' [nzInlineCollapsed]="isCollapsed">
                        <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Navigation One' : ''">
                            <span title>
                                <i nz-icon nzType="mail"></i>
                                <span>Navigation One</span>
                            </span>
                        </li>
                        <li nz-submenu>
                            <span title>
                                <i nz-icon nzType="appstore"></i>
                                <span>Navigation Two</span>
                            </span>
                            <ul>
                                <li nz-menu-item>Option 5</li>
                                <li nz-menu-item>Option 6</li>
                                <li nz-submenu>
                                    <span title>Submenu</span>
                                    <ul>
                                        <li nz-menu-item>Option 7</li>
                                        <li nz-menu-item>Option 8</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li nz-submenu>
                            <span title>
                                <i nz-icon nzType="setting"></i>
                            <span>Navigation Three</span>
                            </span>
                            <ul>
                                <li nz-menu-item>Option 9</li>
                                <li nz-menu-item>Option 10</li>
                                <li nz-menu-item>Option 11</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <codebox [codeContent]="menuCollapsedInlineCode"></codebox> 
        </nz-card>
        <nz-card>
            <h4>Menu Themes</h4>
            <p>There are two built-in themes: 'light' and 'dark'. The default value is 'light'.</p>
            <div class="m-t-25">
                <div class="m-b-15">
                    <nz-switch [(ngModel)]="theme">
                        <span checked>Dark</span>
                        <span unchecked>Light</span>
                    </nz-switch>
                </div>
                <ul nz-menu [nzMode]="'inline'" style="width: 240px;" [nzTheme]="theme?'dark':'light'">
                    <li nz-submenu nzOpen>
                        <span title><i nz-icon nzType="mail"></i> Navigation One</span>
                        <ul>
                            <li nz-menu-group>
                                <span title>Item 1</span>
                                <ul>
                                    <li nz-menu-item>Option 1</li>
                                    <li nz-menu-item>Option 2</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Item 2</span>
                                <ul>
                                    <li nz-menu-item>Option 3</li>
                                    <li nz-menu-item>Option 4</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i nz-icon nzType="appstore"></i> Navigation Two</span>
                        <ul>
                            <li nz-menu-item>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                            <li nz-submenu>
                                <span title>Submenu</span>
                                <ul>
                                    <li nz-menu-item>Option 7</li>
                                    <li nz-menu-item>Option 8</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i nz-icon nzType="setting"></i> Navigation Three</span>
                        <ul>
                            <li nz-menu-item>Option 9</li>
                            <li nz-menu-item>Option 10</li>
                            <li nz-menu-item>Option 11</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <codebox [codeContent]="menuThemesCode"></codebox> 
        </nz-card>      
        <nz-card>
            <h4>Switch the menu type</h4>
            <p>Show the dynamic switching mode (between 'inline' and 'vertical').</p>
            <div class="m-t-25">
                <div class="m-b-20">
                    <nz-switch [(ngModel)]="mode">
                    </nz-switch>
                    Change Mode
                    <nz-divider nzType="vertical"></nz-divider>
                    <nz-switch [(ngModel)]="dark">
                    </nz-switch>
                    Change Theme
                </div>
                <ul nz-menu [nzMode]="mode?'vertical':'inline'" class="border right" [nzTheme]="dark?'dark':'light'" style="width: 240px;">
                    <li nz-submenu>
                        <span title><i nz-icon nzType="mail"></i> Navigation One</span>
                        <ul>
                            <li nz-menu-group>
                                <span title>Item 1</span>
                                <ul>
                                    <li nz-menu-item>Option 1</li>
                                    <li nz-menu-item>Option 2</li>
                                </ul>
                            </li>
                            <li nz-menu-group>
                                <span title>Item 2</span>
                                <ul>
                                    <li nz-menu-item>Option 3</li>
                                    <li nz-menu-item>Option 4</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i nz-icon nzType="appstore"></i> Navigation Two</span>
                        <ul>
                            <li nz-menu-item>Option 5</li>
                            <li nz-menu-item>Option 6</li>
                            <li nz-submenu>
                                <span title>Submenu</span>
                                <ul>
                                    <li nz-menu-item>Option 7</li>
                                    <li nz-menu-item>Option 8</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li nz-submenu>
                        <span title><i nz-icon nzType="setting"></i> Navigation Three</span>
                        <ul>
                            <li nz-menu-item>Option 9</li>
                            <li nz-menu-item>Option 10</li>
                            <li nz-menu-item>Option 11</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <codebox [codeContent]="menuSwitchCode"></codebox> 
        </nz-card>          
    </div>
</div>
<nz-card nzTitle="API">
    <div class="row m-b-20">
        <div class="col-md-12">
            <pre><code highlight [textContent]="menuAPICode"></code></pre>
        </div>
    </div>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nz-menu]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzInlineCollapsed]</code></td>
                    <td>specifies the collapsed status when menu is inline mode</td>
                    <td>boolean</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzInlineIndent]</code></td>
                    <td>indent px of inline menu item on each level</td>
                    <td>number</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td><code>[nzMode]</code></td>
                    <td>type of the menu; <code>vertical</code>, <code>horizontal</code>, and <code>inline</code> modes are supported</td>
                    <td>string: <code>vertical</code> 丨 <code>horizontal</code> 丨 <code>inline</code></td>
                    <td><code>vertical</code></td>
                </tr>
                <tr>
                    <td><code>[nzSelectable]</code></td>
                    <td>allow selecting menu items</td>
                    <td>boolean</td>
                    <td>true</td>
                </tr>
                <tr>
                    <td><code>[nzTheme]</code></td>
                    <td>color theme of the menu</td>
                    <td>string: <code>light</code><code>dark</code></td>
                    <td><code>light</code></td>
                </tr>
                <tr>
                    <td><code>(nzClick)</code></td>
                    <td>the Output when click nz-menu-item inside nz-menu</td>
                    <td><code>EventEmitter&lt;NzMenuItemDirective&gt;</code></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nz-menu-item]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>whether menu item is disabled or not</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzSelected]</code></td>
                    <td>whether menu item is selected or not</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzMatchRouter]</code></td>
                    <td>whether auto set <code>nzSelected</code> according to <a href="https://www.angular.cn/api/router/RouterLink">routerLink</a></td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzMatchRouterExact]</code></td>
                    <td>only match when the url matches the link exactly, same as <a href="https://angular.io/api/router/RouterLinkActive#routerLinkActiveOptions">routerLinkActiveOptions</a></td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nz-submenu]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <p>You can set the title of <code>[nz-submenu]</code> in the following ways.</p>
        <pre><code highlight [textContent]="menuAPI2Code"></code></pre>
        <table>
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzOpen]</code></td>
                    <td>whether sub menu is open or not, double binding</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzDisabled]</code></td>
                    <td>whether sub menu is disabled or not</td>
                    <td><code>boolean</code></td>
                    <td><code>false</code></td>
                </tr>
                <tr>
                    <td><code>[nzTitle]</code></td>
                    <td>set submenu title</td>
                    <td><code>string | TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzIcon]</code></td>
                    <td>icon type in title</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzMenuClassName]</code></td>
                    <td>Custom the submenu container's class name</td>
                    <td><code>string</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>(nzOpenChange)</code></td>
                    <td>nzOpen callback</td>
                    <td><code>EventEmitter&lt;boolean&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nz-menu-group]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <p>You can set the title of <code>[nz-menu-group]</code> in the following ways.</p>
        <pre><code highlight [textContent]="menuAPI3Code"></code></pre>
        <table>
            <thead>
                <tr>
                    <th>Param</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzTitle]</code></td>
                    <td>set menu group title</td>
                    <td><code>string | TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div> 
    <hr>   
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">[nz-menu-divider]</span>
            <label class="api-type-label directive">directive</label>
        </h5>
        <p>Divider line in between menu items, only used in vertical popup Menu or Dropdown Menu.</p>
    </div>    
</nz-card>     