<div class="row">
    <div class="col-md-6">
        <nz-card>
            <h4>Horizontal</h4>
            <p>Divider default type is <code>horizontal</code>. Support inner text inside Divider.</p>
            <div class="m-t-25">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.</p>
                <nz-divider></nz-divider>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.</p>
                <nz-divider nzText="With Text"></nz-divider>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.</p>
                <nz-divider nzDashed [nzText]="text">
                    <ng-template #text><i nz-icon nzType="plus"></i> Add</ng-template>
                </nz-divider>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.</p>
            </div>
            <codebox [codeContent]="dividerHorizontalCode"></codebox>
        </nz-card>
    </div>
    <div class="col-md-6">
        <nz-card>
            <h4>Vertical</h4>
            <p>Use <code>nzType="vertical"</code> make it vertical.</p>
            <div class="m-t-25">
                <div>Text
                    <nz-divider nzType="vertical"></nz-divider>
                    <a href="#">Link</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a href="#">Link</a>
                </div>
            </div>
            <codebox [codeContent]="dividerVerticalCode"></codebox>
        </nz-card>
        <nz-card>
            <h4>Orientation of title</h4>
            <p>Set orientation of divider to left or right.</p>
            <div class="m-t-25">
                <div>
                    <nz-divider nzText="Left Text" nzOrientation="left"></nz-divider>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
                        sunt a te dicta? Refert tamen, quo modo.
                    </p>
                    <nz-divider nzText="Right Text" nzOrientation="right"></nz-divider>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nonne merninisti licere mihi ista probare, quae
                        sunt a te dicta? Refert tamen, quo modo.
                    </p>
                </div>
            </div>
            <codebox [codeContent]="dividerOrientationCode"></codebox>
        </nz-card>
    </div>
</div>        
<nz-card nzTitle="API">
    <div class="markdown api-container">
        <h5>
            <span class="font-weight-light">nz-divider</span>
            <label class="api-type-label component">component</label>
        </h5>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Default</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>[nzDashed]</code></td>
                    <td>whether line is dasded</td>
                    <td>Boolean</td>
                    <td>false</td>
                </tr>
                <tr>
                    <td><code>[nzType]</code></td>
                    <td>direction type of divider</td>
                    <td>enum: <code>horizontal</code><code>vertical</code></td>
                    <td><code>horizontal</code></td>
                </tr>
                <tr>
                    <td><code>[nzText]</code></td>
                    <td>inner text of divider</td>
                    <td><code>string丨TemplateRef&lt;void&gt;</code></td>
                    <td>-</td>
                </tr>
                <tr>
                    <td><code>[nzOrientation]</code></td>
                    <td>inner text orientation</td>
                    <td>enum: <code>left</code><code>right</code></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</nz-card>