<nz-card>
  <div class="row m-b-30">
    <div class="col-lg-8">

    </div>
  </div>

  <nz-table #ordersListTable [nzData]="displayData"
            (nzCurrentPageDataChange)="currentPageDataChange($event)"
            (nzPageIndexChange)="refreshStatus()"
            (nzPageSizeChange)="refreshStatus()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="id">ID</th>
      <th nzShowSort nzSortKey="libelle">Centre UL</th>
      <th nzShowSort nzSortKey="description">Code UL</th>
      <th nzShowSort nzSortKey="description">Description UL</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of ordersListTable.data | search:'name':search as count ;  let i=index">
      <td>#{{item.id}}</td>
      <td>{{item.code}}</td>
      <td>{{item.localUnit.code}}</td>
      <td>{{item.localUnit.description}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
